.page {
  padding-block: 0;

  & section {
    padding: 0;
  }
}

.main {
  background: var(--clr-bg);
  padding-block: var(--gap-600) var(--footer-padding);
  padding-inline: var(--section-padding);

  @media (max-width: 1300px) {
    grid-column: full-width;
  }
}

.header {
  display: grid;
  gap: var(--gap-400);

  margin-block-end: var(--gap-500);
}

/*  */

.books {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-500);
  row-gap: var(--gap-300);
  justify-content: center;

  padding-block-end: var(--gap-400);
  margin-block-end: var(--gap-400);
  margin-inline: auto;

  max-width: 75ch;
}
.books button {
  display: flex;
  gap: 0.75ch;
  align-items: center;
  min-width: fit-content;

  user-select: auto;

  @media (max-width: 35.5rem) {
    & span.the {
      display: none;
    }
  }
  @media (max-width: 29rem) {
    & span.fells {
      display: none;
    }
  }

  &[data-active="true"] {
    font-weight: var(--fw-medium);
    text-decoration: underline;
  }

  &::before {
    content: "";
    width: 0.75rem;
    height: 1rem;
    border-radius: 0.25rem;
    background: black;
    border: 3px solid currentColor;
  }
  &[data-book="1"]::before {
    background: var(--clr-wain-book-1);
  }
  &[data-book="2"]::before {
    background: var(--clr-wain-book-2);
  }
  &[data-book="3"]::before {
    background: var(--clr-wain-book-3);
  }
  &[data-book="4"]::before {
    background: var(--clr-wain-book-4);
  }
  &[data-book="5"]::before {
    background: var(--clr-wain-book-5);
  }
  &[data-book="6"]::before {
    background: var(--clr-wain-book-6);
  }
  &[data-book="7"]::before {
    background: var(--clr-wain-book-7);
  }
}

.group {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  gap: var(--gap-800);

  @media (max-width: 60rem) {
    grid-template-columns: 1fr;

    & .list {
      max-width: 35rem;
      margin-inline: auto;
    }

    & .map {
      grid-row: 1;

      width: min(45rem, 100%);
      aspect-ratio: 1;
      max-height: 30rem;
      margin-inline: auto;
    }
  }
}

/*  */

.search {
  display: flex;
  align-items: center;
  margin-block-end: 1px;

  width: min(17.5ch, 100%);
  font-size: var(--fs-500);

  transition: width 250ms ease-in-out;

  border-bottom: 2px solid var(--clr-text-muted);

  & svg {
    color: var(--clr-text-muted);
    min-width: 1.5ch;
    min-height: 1.5ch;
    max-width: 1.5ch;
    max-height: 1.5ch;
  }
}
.search input {
  width: 100%;
  padding: 0.125rem 0.25rem;

  background: none;
  border: none;
  outline: none;
}
.search:has(input:not(:placeholder-shown)) {
  width: 100%;
}
.search:has(input:focus-visible) {
  margin-block-end: 0;
  border-bottom: 3px solid currentColor;
  width: 100%;

  & svg {
    color: var(--clr-text);
  }
}
.searchButton {
  display: flex;
  opacity: 0.625;
  transition: opacity 100ms;

  &:hover {
    opacity: 1;
  }
}

/*  */

.list {
  position: relative;
}
.backToTop {
  box-shadow: 2px 2px 6px oklch(from currentColor l c h / 0.1);

  position: absolute;
  top: 5.375lh;
  left: 50%;
  translate: -50% 0;

  background: var(--clr-bg-light);
  border-radius: 999rem;
  padding-inline: 1.5ch;
  padding-block: 0.625ch;
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);

  display: none;
  opacity: 0;

  transition-property: display opacity;
  transition-duration: 300ms;
  transition-behavior: allow-discrete;

  &.floating {
    display: block;
    opacity: 0.825;

    @starting-style {
      opacity: 0;
    }

    &:hover {
      opacity: 1;
    }
  }
}

/*  */

.table {
  overflow: hidden;
  border-collapse: collapse;

  --_book-col-width: calc(var(--fs-400) * 4.5);
  --_height-col-width: 7ch;
}

.table thead {
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  padding-inline-end: 1rem;

  transition: box-shadow 150ms;

  &.floating {
    box-shadow: 0 3px 10px oklch(from currentColor l c h / 0.15);
  }

  & td {
    cursor: pointer;
    padding-block: var(--gap-500) calc(1.5 * var(--gap-300));

    & > div {
      display: flex;
      gap: 0.25ch;
      align-items: center;
      width: fit-content;
    }
  }
}
.tableArrow {
  width: 1.375ch;
  height: 1.375ch;
  color: var(--clr-text-white-muted);

  & svg {
    max-width: 100%;
    max-height: 100%;
  }

  &.active {
    color: var(--clr-text);
  }
  &[data-asc="true"] {
    rotate: 180deg;
  }
}

.table tbody {
  display: block;
  width: 100%;
  height: max(min(41rem, 70vh), 30rem);
  overflow-y: auto;
  padding-inline-end: 1rem;

  scrollbar-width: thin;
  scrollbar-color: var(--clr-text-muted) var(--clr-bg);
  scrollbar-gutter: stable;

  transition: box-shadow 150ms;

  &.floating {
    box-shadow: inset 0 -13px 10px -10px oklch(from currentColor l c h / 0.15);
  }

  & td {
    padding-block: 0.5rem;
  }
}
.table thead,
.table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table td:first-child {
  width: var(--_book-col-width);
}
.table td:last-child {
  width: var(--_height-col-width);
  text-align: right;
}
.table tbody td:last-child {
  font-family: var(--ff-mono);
  font-size: var(--fs-500);
}

.table a {
  line-height: 1;

  &:hover {
    text-decoration: underline;
  }
  & .secondaryName {
    color: var(--clr-text-muted);
    display: inline-block;
  }
}

.table tbody tr .listNote {
  padding-block-start: var(--gap-400);

  font-family: var(--ff-body);
  font-size: var(--fs-300);
  text-align: center;
  text-wrap: balance;
}

/*  */

.wainwrightBookTop {
  --_book-color: currentColor;

  display: grid;
  gap: 0;
  margin-inline: var(--gap-300) auto;

  width: 2rem;
  height: 2.5rem;
  overflow: hidden;

  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;

  background: oklch(from var(--clr-text-white) 1 c h);

  cursor: pointer;

  -webkit-box-shadow: 1px 1px 0 0.5px #c7c7c7;
  -moz-box-shadow: 1px 1px 0 0.5px #c7c7c7;
  box-shadow: 1px 1px 0 0.5px #c7c7c7;
}
.wainwrightBookTopColour {
  height: 70%;
  background: var(--_book-color);
}
.wainwrightBookTop[data-book="1"] {
  --_book-color: var(--clr-wain-book-1);
}
.wainwrightBookTop[data-book="2"] {
  --_book-color: var(--clr-wain-book-2);
}
.wainwrightBookTop[data-book="3"] {
  --_book-color: var(--clr-wain-book-3);
}
.wainwrightBookTop[data-book="4"] {
  --_book-color: var(--clr-wain-book-4);
}
.wainwrightBookTop[data-book="5"] {
  --_book-color: var(--clr-wain-book-5);
}
.wainwrightBookTop[data-book="6"] {
  --_book-color: var(--clr-wain-book-6);
}
.wainwrightBookTop[data-book="7"] {
  --_book-color: var(--clr-wain-book-7);
}
