.footer {
  --content-max-width: 1350px;
  --section-padding: 2rem;

  color: var(--clr-neutral-1000);
  background: var(--clr-neutral-200);

  padding-block: 1.5rem 1rem;
  margin-block-start: auto;
}

.footer a:focus-visible {
  outline: 2px solid var(--clr-neutral-800);
  outline-offset: 3px;
}

.grid {
  display: grid;
  gap: 4rem;
}

.main,
.base {
  display: flex;
  justify-content: space-between;
}

.mainLeft {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.searchBar {
  width: min(20rem, 100%);
}

.mainRight {
  display: flex;
  gap: 8rem;
}
.mainRight .subheading {
  margin-block: 0.25rem;
}
.mainLinks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mainLinks a {
  width: fit-content;
}
.mainLinks a:hover {
  text-decoration: underline;
}


.base {
  color: var(--clr-neutral-600);
  font-size: var(--fs-300);
}
.base a {
  transition: color 100ms;
}
.base a:hover {
  color: var(--clr-neutral-1000);
  text-decoration: underline;
}


@media (max-width: 46rem) {
  .footer {
    --section-padding: 1.5rem;
  }

  .main {
    flex-direction: column;
  }

  .grid,
  .main {
    gap: 2.5rem;
  }
  .mainLeft {
    align-items: center;
  }
  .mainRight {
    justify-content: center;
    gap: 6rem;
  }
  .mainLinks {
    align-items: center;
  }
}
