.section {
  position: relative;
  height: max(13rem, min(53rem, max(70vh, 30rem), 40vw));
  background: var(--clr-border);
  overflow: hidden;
}

.image {
  position: absolute;
  inset: 0;
}

.hero {
  display: grid;
  align-content: center;
  justify-items: center;

  & > * {
    line-height: 1.1;
  }
  & img {
    user-select: none;
  }
  & .title {
    padding-block: 0.05lh;
    padding-inline: 0.375ch;
    margin-block-end: 0.625lh;
    border-radius: var(--gap-300);

    text-align: center;
    text-wrap: balance;
    color: var(--clr-text-white);
    backdrop-filter: blur(0.25rem);
  }
}
