.imageGallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: clamp(8.5rem, 12vw, 10rem);
  grid-auto-flow: dense;
  gap: calc((var(--gap-300) + var(--gap-400)) / 2);

  border-radius: 0.375em;
  overflow: hidden;

  margin-block-start: 1ch;
}

.galleryImage {
  position: relative;
  background: var(--clr-bg-dark);
  cursor: pointer;

  & img {
    position: absolute;
    transition-property: scale;
    transition-duration: 100ms;
  }
  & img:hover {
    scale: 1.04;
  }
}
.image-small img:hover {
  scale: 1.1;
}

/*  */

.image-wide {
  grid-column: span 3;
  grid-row: span 2;
}
.image-tall {
  grid-column: span 2;
  grid-row: span 3;
}
.image-big {
  grid-column: span 3;
  grid-row: span 3;
}
.image-solo {
  grid-column: span 4;
  grid-row: span 3;
  border-radius: 0.375em;
}
@media (max-width: 55rem) {
  .imageGallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: clamp(6rem, 22vw, 15rem);
  }

  .image-wide {
    grid-column: span 2;
    grid-row: span 2;
  }
  .image-tall {
    grid-column: span 1;
    grid-row: span 2;
  }
  .image-big {
    grid-column: span 2;
    grid-row: span 3;
  }
  .image-solo {
    grid-column: span 3;
    grid-row: span 3;
  }
}

/*  */

.galleryCarousel {
  position: fixed;
  inset: 0;
  z-index: calc(infinity);

  display: flex;
  flex-direction: column;
  gap: 0.25em;
  align-items: center;
  justify-content: center;

  padding-block: 1em;

  background: #000d;
}

.galleryCarouselClose,
.galleryCarouselLeft,
.galleryCarouselRight,
.galleryCarouselCaption,
.galleryCarouselTop span {
  color: var(--clr-text-white);
  background: oklch(from var(--clr-bg-black) l c h / 0.6);
  transition: background-color 100ms;
}
.galleryCarouselLeft:hover,
.galleryCarouselRight:hover,
.galleryCarouselClose:hover {
  background: var(--clr-bg-black);
}

.galleryCarouselClose {
  position: absolute;
  top: 1em;
  right: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  padding: 0.25em;
  z-index: 9999;
}
.galleryCarouselClose:hover {
  background: var(--clr-bg-black);
}
.galleryCarouselClose svg {
  width: 2em;
  height: 2em;
}

.galleryCarouselLeft,
.galleryCarouselRight {
  position: absolute;
  top: calc(50% - 2em);

  display: flex;
  padding-inline-start: 0.5em;
  padding-block: 1em;
}
.galleryCarouselLeft {
  left: 0.25em;
}
.galleryCarouselRight {
  padding-inline-start: 0.25em;
  padding-inline-end: 0.25em;
  right: 0.25em;
}

.galleryCarouselImage {
  overflow: hidden;

  max-width: 95%;
  max-height: 95%;
  user-select: none;
}

.galleryCarouselCaption {
  background: oklch(from var(--clr-bg-black) l c h / 0.9);

  padding: 0.5em 1em;
  max-width: 50ch;
  text-align: center;

  margin-inline: 2em;
}
.galleryCarouselTop {
  display: flex;
  gap: 1rem;
  align-items: center;

  & span {
    padding: 0.5em 1em;
  }
}

@media (max-width: 78.5rem) {
  .galleryCarousel {
    padding-block-end: 3em;
  }

  .galleryCarouselLeft,
  .galleryCarouselRight {
    position: initial;
    padding-block: 0.5em;
  }
}
