.page {
  padding-block-start: 0;
  background: var(--clr-bg);

  & section:not(:first-child) {
    margin-block: var(--gap-800);
  }
}

/*  */

.hero {
  grid-column: full-width;
  position: relative;
  width: 100%;
  aspect-ratio: 6;
  min-height: 10rem;
  overflow: hidden;
}

@media (max-width: 35rem) {
  .hero img {
    scale: 1.4;
  }
}

/*  */

.intro {
  display: grid;
  gap: var(--gap-400);
  justify-content: center;
  text-align: center;

  @media (max-width: 41.25rem) {
    text-wrap: balance;
  }

  & h2 {
    margin-block-end: 0.125em;
  }
  & p {
    max-width: 58ch;
  }

  & a {
    color: var(--clr-primary-300);
    text-decoration: underline;
  }
  & a:hover {
    color: var(--clr-primary-400);
  }
}
