:root {
  --bus-77: #ddad00;
  --bus-77a: #ddad00;
  --bus-77c: #ddad00;
  --bus-78: #ec6608;
  --bus-505: #016067;
  --bus-508: #814997;
  --bus-509: #af5742;
  --bus-516: #a71681;
  --bus-553: #ef99c1;
  --bus-554: #ef99c1;
  --bus-555: #e30613;
  --bus-599: #3fa535;
  --bus-x4: #87704c;
  --bus-x5: #87704c;
}
