:root {
  --wain-book-1: #6c9934;
  --wain-book-2: #e5173e;
  --wain-book-3: #0096e2;
  --wain-book-4: #ed592b;
  --wain-book-5: #853826;
  --wain-book-6: #fdb817;
  --wain-book-7: #008242;

  --bus-77: #ddad00;
  --bus-77A: #ddad00;
  --bus-77C: #ddad00;
  --bus-78: #ec6608;
  --bus-505: #016067;
  --bus-508: #814997;
  --bus-509: #af5742;
  --bus-516: #a71681;
  --bus-553: #ef99c1;
  --bus-554: #ef99c1;
  --bus-555: #e30613;
  --bus-599: #3fa535;
  --bus-X4: #87704c;
  --bus-X5: #87704c;
}
