.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home-page header {
  margin: auto;
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}
.home-page--title {
  /* font-size: 5rem; */
  font-weight: bold;
  cursor: default;
  transition: transform .1s ease-in-out;
  padding-bottom: 0.625rem;
  transition: .1s;
  cursor: cell;
  width: fit-content;
  margin: auto;
}

.home-page--title-wright{
  content: "wright";
  display: inline-block;
  vertical-align: text-bottom;
  text-align: left;
  width: 0;
  overflow: hidden;
  transition: width .3s ease-in-out;
}
@media (min-width: 720px) {
  .home-page--title:hover > .home-page--title-wright {
    width: 5.3ch;
  }
}
/* .home-page header h1:hover {
  transform: translateY(-0.2rem);
} */

.home-page--links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: min(70%, 600px);
  margin: auto;
  font-weight: normal;
}
.home-page--links a {
  /* font-size: 1.5rem; */
  border: none;
  transition: all .1s ease-in-out;
  cursor: pointer;
}
.home-page--links a:hover,
.home-page--links a.active {
  color: var(--primary);
  font-weight: 600;
}


.home-page--map {
  width: min(650px, 90%);
  aspect-ratio: 1;
}
