.navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: calc(infinity);
  padding: .6rem 1rem;

  color: var(--background);
  background: var(--copy);
}

.navbar--left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar--home {
  font-size: 1.75rem;
  font-weight: 700;
  transform: translateY(-0.1rem);
}
.navbar--links {
  display: flex;
  flex-direction: row;
  gap: 1.125rem;
  font-weight: 600;
}

.navbar a:hover {
  font-weight: 700;
}

.navbar--left-mobile {
  display: none;
}
@media (max-width: 700px) {
  .navbar--left {
    display: none;
  }
  .navbar--left-mobile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}


.navbar--right {
  display: flex;
  gap: 0.75rem;
}


.navbar--button {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding: 0.1rem;

  cursor: pointer;

  color: inherit;
  background-color: inherit;

  border: none;
  border-radius: 0.3rem;
}

.navbar--button-block {
  color: var(--copy);
  background-color: var(--background);
  transition: .1s;
}

.navbar--button-block:hover {
  color: var(--copy-light);
  background-color: var(--border);
}
