.walk-page--header {
  text-align: left;
  padding: 1rem 0;
}
/* .walk-page--title {
  font-size: 4rem;
  font-weight: 700;
} */
.walk-page--mountain {
  white-space: nowrap;
}

.walk-page--intro {
  /* font-size: 1.425rem; */
  padding-top: 0.5rem;

  margin: 0.5rem 0;
}

.walk-page--details {
  display: flex;
  flex-direction: row;
  gap: 4rem;

  margin: 1rem 0.1rem;
}
.walk-page--details-grid {
  display: grid;
  grid-template-columns: 13ch auto;
  row-gap: 0.2rem;
}
@media (max-width: 640px) {
  .walk-page--details {
    flex-direction: column;
    gap: 0.2rem;
  }
}

.bus-section, .start-location {
  display: flex;
  gap: 0.5rem;
}
.bus-block {
  position: relative;
  display: inline-block;
  width: 4ch;
  height: 1lh;
  margin: 0 0.1rem;

  /* font-size: 0.9rem; */
  font-weight: bold;
  text-align: center;

  color: var(--copy-white);
  background-color: var(--border);
  border-radius: 0.3rem;
  cursor: pointer;
}
.bus-block:hover::after {
  content: attr(fromtext);
  position: absolute;
  color: var(--copy);
  background-color: var(--foreground);
  border-radius: 0.3rem;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);

  padding: 0.2rem;
}


.walk-page--map-container {
  width: min(550px, 80%);
  aspect-ratio: 1;
}
@media (max-width: 720px) {
  .walk-page--map-container {
    width: 95%;
    margin: auto;
  }
}


.walk-page--steps-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 98%;

  margin: 3rem 0;
  padding: 0 0.5rem;
}

.walk-page--step {
  position: relative;
  border-top: 0.3rem solid var(--copy);
  padding-top: 1rem;
  padding-left: 0.5ch;
}

.walk-page--step-title {
  display: inline-block;
  background-color: var(--background);
  padding: 0 0.5ch 0 0.3ch;

  /* font-size: 2rem; */
  font-weight: 700;

  position: absolute;
  top: -0.6lh;
  left: 1ch;
}

.walk-page--extra-details {
  padding: 0 2rem;
  padding-bottom: 2rem;
}
