.walks-page--heading {
  text-align: center;
  margin: 1rem 0;
}

.walks-page--walks {
  display: flex;
  gap: 1rem;
  width: min(100%, 950px);
  margin: auto;
}

.walks-page--walk-filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  height: 27rem;
  min-width: 12rem;
  background: var(--foreground);
  border-radius: 0.2rem;
  padding: 0.7rem;
}
.walks-page--walk-filters input[type="text"] {
  width: 3.5rem;
}

.walks-page--walk-filters h2 {
  font-weight: 700;
}
.walks-page--walk-filters h3 {
  font-weight: 600;
}

.walks-page--filter-choices {
  margin-left: 0.2rem;
}
.walks-page--duration-filter {
  display: block;
  cursor: pointer;
  transition: transform .1s;
}
.walks-page--duration-filter input {
  display: none;
}
.walks-page--duration-filter:hover {
  font-weight: 600;
}
.walks-page--duration-filter:has(input:checked) {
  color: var(--primary);
  font-weight: 600;
  transform: translateX(3px);
}

.walks-page--type-filter {
  display: block;
  cursor: pointer;
  user-select: none;
}
.walks-page--type-filter:hover,
.walks-page--type-filter:has(input:checked) {
  font-weight: 600;
}


.walks-page--walk-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
}

.walks-page--sort {
  align-self: flex-end;
  width: 10rem;
}

.walks-page--walk-card {
  position: relative;
  display: flex;
  gap: 0.6rem;
  width: 100%;

  background: var(--foreground);
  border: 2px solid var(--border);
  border-radius: 0.3rem;

  padding: 0.4rem;

  cursor: pointer;
}
a.walks-page--walk-card:hover {
  color: inherit;
  transform: translate(2px, -2px);
}

.walks-page--walk-card-fav {
  position: absolute;
  width: 1.6rem;

  fill: var(--foreground);
  stroke: var(--copy);
  stroke-width: 2;

  top: 0.6rem;
  right: 0.5rem;
}
.walk-card--favourited {
  fill: var(--favourited);
}

.walks-page--walk-image {
  min-width: 7rem;
  max-width: 7rem;
  aspect-ratio: 1;

  background: #dee1b2;
  border: 1px solid var(--border);
}
@media (max-width: 720px) {
  .walks-page--walk-image {
    width: 5rem;
  }
}

.walks-page--walk-data {
  min-width: 50px;
  flex-grow: 1;
  height: 100%;
}

.walks-page--walk-title {
  font-weight: 700;
  transition: color .05s;
  width: 92%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.walks-page--walk-title:hover,
.walks-page--walk-card:active .walks-page--walk-title {
  color: var(--primary);
}

.walks-page--walk-hills {
  white-space: nowrap;
  overflow: hidden;

  width: 100%;
}

.walks-page--walk-details {
  color: var(--copy-light);
  white-space: pre;
  line-height: 1rem;
  font-weight: 900;
  margin-top: auto;
}
.walks-page--walk-details span {
  margin: 0 0.4rem;
  font-weight: 700;
}
.walks-page--walk-details span:nth-child(1) {
  margin-left: 0;
}
.walks-page--walk-details svg {
  display: inline-block;
  width: 1rem;
  vertical-align: middle;
  margin: 0 1px;
  margin-bottom: 3px;
  stroke-width: 3;
}
.walks-page--walk-details span:nth-child(1) svg {
  stroke-width: 1;
}
.walks-page--walk-details span:last-child svg {
  margin-bottom: 4px;
  margin-left: 2px;
}
