.walk-page--header {
  text-align: left;
  padding: 1rem 0;
}
/* .walk-page--title {
  font-size: 4rem;
  font-weight: 700;
} */
.walk-page--intro {
  /* font-size: 1.425rem; */
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  text-indent: -0.2em;
}

.walk-page--details {
  margin: 1rem 0;
}

.bus-section, .start-location {
  display: flex;
  gap: 0.5rem;
}
.bus-block {
  position: relative;
  display: inline-block;
  width: 4ch;
  height: 1lh;
  margin: 0 0.1rem;

  /* font-size: 0.9rem; */
  font-weight: bold;
  text-align: center;

  color: var(--copy-white);
  background-color: var(--border);
  border-radius: 0.3rem;
  cursor: pointer;
  user-select: none;
}
.bus-block:hover::after {
  content: attr(fromtext);
  position: absolute;
  color: var(--copy);
  background-color: var(--foreground);
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);

  padding: 0.2rem;
}


.walk-page--map-container {
  width: min(550px, 80%);
  aspect-ratio: 1;
}


.walk-page--steps-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin: 3rem 0;
  padding: 0 0.5rem;
}

.walk-page--step {
  position: relative;
  border-top: 0.3rem solid var(--copy);
  padding-top: 1rem;
  padding-left: 0.5ch;
}

.walk-page--step-title {
  display: inline-block;
  background-color: var(--background);
  padding: 0 0.5ch 0 0.3ch;

  font-size: 2rem;
  font-weight: 700;

  position: absolute;
  top: -0.6lh;
  left: 1ch;
}
