.walk {
  padding-block: 0;
}

/*  */

.top {
  position: relative;
  background: var(--clr-bg);
  overflow: hidden;

  @media (max-width: 83rem) {
    grid-column: full-width;
  }
}
.topLink {
  display: flex;
  gap: 0.125em;
  align-items: flex-end;

  position: absolute;
  top: 5%;
  right: 1em;

  background: var(--clr-bg-light);
  border-radius: 0.5em;
  font-weight: var(--fw-medium);

  padding: 0.25rem 0.375rem;
  padding-inline-end: 0.625rem;
}
.topLink:hover {
  text-decoration: underline;
}
.topImage {
  position: relative;
  flex: 1;
  width: 100%;
  height: min(24rem, 30vw);

  @media (max-width: 68rem) {
    height: max(35vw, 13rem);
  }
}
.topBlock {
  height: min(2em, 5vw);
  background: oklch(from var(--clr-text-black) 0.2 0.02 h);
}

/*  */

.body,
.duoLeft,
.note {
  display: grid;
  gap: var(--gap-700);
}

.body,
.note {
  background: var(--clr-bg);

  padding-block: var(--gap-500);
  padding-inline: var(--gap-500);

  @media (max-width: 83rem) {
    grid-column: full-width;
  }
}
.note {
  padding-block-end: calc(var(--gap-500) + var(--footer-mountain-height));

  font-style: italic;

  & p {
    max-width: 63ch;
    margin-inline: auto;
    text-align: center;
    text-wrap: balance;
  }
  & a {
    text-decoration: underline;
  }
  & a:hover {
    color: var(--clr-primary-300);
  }
}

.duo {
  display: grid;
  column-gap: var(--gap-500);
  row-gap: var(--gap-700);
  grid-template-columns: 3fr 1.25fr;

  @media (max-width: 52rem) {
    grid-template-columns: 1fr;
  }
}

.summary {
  display: grid;
  gap: var(--gap-400);
}
.summaryGroup,
.summaryPair {
  display: flex;
  column-gap: 0.75ch;
  row-gap: 0.25ch;
  align-items: baseline;
}
.summaryGroup.shouldWrap {
  flex-wrap: wrap;

  & p {
    flex: 1;
    flex-basis: 30ch;
    max-width: fit-content;
  }
}
.summaryPair {
  gap: var(--gap-500);
}

.wainwrights {
  /* max-width: 55ch; */

  & span {
    display: inline-block;
  }
  & a:hover {
    text-decoration: underline;
  }
}

.section {
  display: grid;
  gap: var(--gap-400);
}

/*  */

.routeTitle,
.map,
.elevation {
  width: 98%;
  border-radius: 0.25rem;
}
.routeTitle {
  display: flex;
  gap: var(--gap-400);
  justify-content: space-between;
  align-items: center;
  margin-block-end: var(--gap-300);
}
.map {
  aspect-ratio: 7 / 5;
}
.elevation {
  height: 13rem;

  background: var(--clr-bg-light);
  padding-inline: var(--gap-300);
  padding-block: var(--gap-200);
}

/*  */

.weather {
  display: grid;
  gap: var(--gap-300);
}
.weatherInfo {
  color: var(--clr-text-muted);
  margin-inline-start: auto;
  padding-inline: 0.25ch;
  width: fit-content;

  text-align: right;
  text-wrap: balance;

  & a {
    text-decoration: underline;
    cursor: pointer;
    transition: color 100ms;
  }
  & a:hover {
    color: var(--clr-text);
  }
}

/*  */

section.nearby {
  @media (max-width: 83rem) {
    grid-column: full-width;
  }
}
.nearbyMain {
  display: grid;
  gap: var(--gap-500);
  padding-block: var(--gap-500) var(--gap-600);
  justify-items: center;
  background: var(--clr-bg-darker);
  width: 100%;
}
.nearbyWalks {
  max-width: min(70rem, 100%);
}

/*  */

.elevation-chart_tooltip {
  font-size: var(--fs-300);
  background: var(--clr-text-white);
  padding: var(--gap-200) var(--gap-300);
  border-radius: var(--gap-200);

  filter: drop-shadow(0 0 2px #0003);
}
