
.walk {
  --_main-width: calc(68ch + 5.5rem);
  --_aside-width: clamp(14rem, 25vw, 22rem);
  --_body-gap: clamp(1rem, 2vw, 2rem);
  --_image-overflow: 3rem;
  
  --_max-section-width: calc((2 * var(--_image-overflow)) + var(--_main-width) + var(--_aside-width) + var(--_body-gap));

  margin-block: 0;
}
.walk section {
  max-width: min(var(--_max-section-width), 100vw);
  margin-inline: auto;
}


.overlay {
  width: 100%;
  position: fixed;
  padding-block: 0;

  isolation: isolate;
  z-index: 999999;

  background: var(--clr-bg);

  box-shadow: 0 2px 5px oklch(from currentColor l c h / .1);

  display: none;
  top: -5rem;
  transition-property: top, display, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-behavior: allow-discrete;
}
.overlay.show {
  display: initial;
  top: var(--navbar-height);

  @starting-style {
    top: -5rem;
  }

  &.stickyTop {
    top: 0;
  }
}

.overlay section {
  padding: 0;
}

.overlayWrapper {
  display: flex;
  gap: var(--gap-400);
  justify-content: space-between;
}

.overlayLeft {
  display: flex;
  gap: var(--gap-400);
  align-items: center;
  flex: 1;

  text-align: left;
  overflow: hidden;
  padding-block: 0.5em 0.75em;
}

.overlayLeft {
  gap: 0.5em;
  width: 100%;
}
.overlayLeft a {
  line-height: 0;
}
.overlayTitle {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.overlayTitle button {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.overlayDetails {
  display: flex;
  gap: var(--gap-400);
  display: none;
}
.overlayDetails span {
  display: flex;
  gap: 0.25em;
  align-items: flex-end;
}
.overlayDetails svg {
  max-width: 1.25em;
}


.overlayNav {
  display: flex;
  gap: var(--gap-400);

  height: 100%;
  font-weight: var(--fw-medium);
}
.overlayNav button {
  color: var(--clr-text-muted);
  border-top: 2px solid transparent;
  padding-block: 1em;

  transition-property: border-color, color;
  transition-duration: 300ms;
}
.overlayNav button.active,
.overlayNav button:hover {
  color: var(--clr-text);
  border-color: currentColor;
}
@media (max-width: 52rem) {
  .overlayLeft {
    padding-inline-end: 1em;
  }
  .overlayLeft a {
    padding-bottom: 1.5em;
  }
  .overlayDetails {
    display: flex;
  }

  .overlayNav {
    display: none;
  }
}


.top {
  position: relative;
  background: var(--clr-bg);
  overflow: hidden;

  @media (max-width: 83rem) {
    grid-column: full-width;
  }
}
.topLink {
  display: flex;
  gap: 0.125em;
  align-items: flex-end;

  position: absolute;
  top: 5%;
  right: 1em;

  background: var(--clr-bg-light);
  border-radius: 0.5em;
  font-weight: var(--fw-medium);

  padding: 0.25rem 0.375rem;
  padding-inline-end: 0.625rem;
}
.topLink:hover {
  text-decoration: underline;
}
.topImage {
  position: relative;
  flex: 1;
  width: 100%;
  height: min(24rem, 30vw);

  @media (max-width: 68rem) {
    height: max(35vw, 13rem);
  }
}
.topBlock {
  height: min(2em, 5vw);
  background: var(--clr-bg-black);
}


.body {
  display: flex;
  gap: var(--_body-gap);
  justify-content: space-between;
  margin-inline: auto;

  background: var(--clr-bg);

  padding-block: var(--gap-500);
  padding-inline: var(--gap-500);
  width: 100%;

  @media (max-width: 83rem) {
    grid-column: full-width;
  }
}

.main {
  display: flex;
  gap: var(--gap-700);
  flex-direction: column;

  flex: 1;
  max-width: var(--_main-width);
}
.main > div {
  width: 100%;
}
.main > div h2 {
  margin-block-end: 0.5em;
}

.summary {
  display: grid;
  gap: var(--gap-400);
}

.summary .title {
  margin-block-end: 0.5rem;
}

.summary_horizontalGroup,
.summary_horizontalGroupSmall {
  display: flex;
  align-items: baseline;
  gap: var(--gap-400);
}
.summary_horizontalGroupSmall {
  gap: var(--gap-300);
}
.summary_horizontalGroup h3,
.summary_horizontalGroup p {
  display: inline;
}

.wainwrights span {
  display: inline-block;
}
.wainwrights a:hover {
  text-decoration: underline;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-300);
}


.routeTitle,
.map,
.elevation {
  width: 98%;
  border-radius: 0.25rem;
}
.routeTitle {
  display: flex;
  gap: var(--gap-400);
  justify-content: space-between;
  /* align-items: center; */
  margin-block-end: var(--gap-300);
}
.map {
  aspect-ratio: 7 / 5;
}
.elevation {
  height: 13rem;

  background: var(--clr-bg-light);
  padding-inline: var(--gap-300);
  padding-block: var(--gap-200);
}


.bold {
  font-weight: var(--fw-bold);
}

.aside {
  display: flex;
  gap: var(--gap-400);
  flex-direction: column;
  max-width: var(--_aside-width);
  /* margin-inline-start: auto; */

  @media (max-width: 52rem) {
    max-width: 100%;
  }
}

.asideTabs {
  display: none;
}
.asideTab {
  flex: 1;
  min-width: fit-content;
  text-align: center;

  border: 1px solid var(--clr-border);
  background: var(--clr-bg-light);
  border-right: none;

  padding-block: 0.25em;
  padding-inline: 0.25em;
}
.asideTab.selected {
  font-weight: var(--fw-medium);
  border-block-end: none;
}
.asideTab:last-child {
  border-right: 1px solid var(--clr-border);
}

.aside > div {
  width: 100%;
}

.asideImage {
  width: 100%;
  aspect-ratio: 1.5;
  border-radius: var(--gap-300);
  overflow: hidden;
}

.asideSection {
  display: grid;
  width: 100%;
}

.asideContent {
  display: grid;
  gap: var(--gap-400);
}

.locations {
  display: flex;
  flex-direction: column;
  gap: var(--gap-200);
}
.locations > div {
  row-gap: 0;
  align-items: start;
}
.locations h3 {
  font-size: inherit;
  font-weight: inherit;
}
.locations a:hover {
  text-decoration: underline;
}
.locationsRow {
  display: flex;
  justify-content: space-between;
}


.busses {
  list-style: none;
  display: flex;
  gap: 0.25em;
  flex-wrap: wrap;
  font-weight: var(--fw-medium);
  max-width: 70%;
  justify-content: right;
}

.busNumber {
  color: var(--clr-text-white);
  border-radius: 0.25em;
  padding-inline: 0.25em;
  padding-block-start: 0.125em;

  cursor: default;
}


.estimatedTime input {
  width: min(13em, 100%);
  margin-block-start: var(--gap-300);
  cursor: pointer;
}


.terrain {
  gap: var(--gap-300);
}
.terrainMain {
  display: flex;
  flex-direction: column;
  gap: var(--gap-300);
}
.terrainBadges {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-300);
}
.terrainBadge {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gap-400);
  align-items: center;

  font-size: var(--fs-300);
}
.terrainBadge h3 {
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
}
.terrain svg {
  cursor: pointer;
  transition: scale 100ms;
}
.terrain svg:hover {
  scale: 1.075;
}


@media (max-width: 52rem) {
  .body {
    flex-direction: column;
  }

  .asideTabs {
    display: flex;
  }

  .aside {
    margin-block-end: 1em;
    gap: 0;
  }

  .asideImage {
    display: none;
  }

  .asideSection {
    display: none;
  }
  .asideSection.selected {
    display: block;
  }

  .asideContent.visible {
    border: 1px solid var(--clr-border);
    border-top: none;
    background: var(--clr-bg-light);

    margin-inline: auto;

    border-end-end-radius: var(--_aside-border-radius);
    border-end-start-radius: var(--_aside-border-radius);

    padding-inline: var(--gap-400);
    padding-block: var(--gap-400) calc(2 * var(--gap-300));
  }
}



.weatherTabs {
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap-400);
  
  overflow-x: auto;
  padding-inline: var(--gap-200);
  
  margin-block: var(--gap-400);
}
.weatherTab {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block: var(--gap-300);
  padding-inline: var(--gap-400);
  
  color: var(--clr-text-muted);
  border: 2px solid transparent;
  border-radius: 0.375em;
  
  transition: border-color 100ms;
}
.weatherTab .weatherDay {
  font-size: var(--fs-600);
}
.weatherTab:hover {
  border-color: currentColor;
}
.weatherTab.selected {
  color: var(--clr-text);
  border-color: currentColor;
}

.weatherBody {
  container-type: inline-size;

  display: flex;
  flex-direction: column;
  background: var(--clr-bg-dark);
  padding: 0.75em;
  border-radius: 0.5em;

  transition: color 200ms, background-color 200ms;
}
.weatherBody.nightView {
  color: var(--clr-text-white);
  background: var(--clr-bg-black);
}

.weatherHeader {
  display: flex;
  gap: var(--gap-400);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dayNight {
  font-size: var(--fs-300);
  cursor: default;
}
.dayNight button.active {
  font-weight: var(--fw-bold);
}

.weatherTemp {
  min-width: 2.2em;
}
.weatherTemps {
  font-weight: var(--fw-medium);
}

.weatherSymbol {
  --_width: calc(var(--fs-800) * 4);
  width: var(--_width);
  height: var(--_width);
  overflow: hidden;
}
.weatherSymbol svg {
  width: 100%;
  height: 100%;
  translate: 0 -0.5rem;
}

.weatherMain {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  row-gap: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: var(--gap-300);
}
.weatherMainRow {
  display: flex;
  align-items: center;
  flex: 1;
}
.weatherMainCol {
  display: flex;
  flex-direction: column;
}

.weatherGrid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  min-width: 20rem;
  gap: 0.5em;
  flex: 1.5;
}
.weatherGridBox {
  cursor: default;
}
.weatherGridBox:has(.hoverValue) {
  cursor: pointer;
}
.weatherGridBox h4 {
  font-weight: var(--fw-base);
}
.weatherGridBox p {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}
.weatherGridBox .hoverValue {
  display: none;
}
.weatherGridBox:hover .defaultValue {
  display: none;
}
.weatherGridBox:hover .hoverValue {
  display: block;
}


.weatherInfo {
  color: var(--clr-text-muted);
  margin-block-start: 1.5em;
}
.weatherBody {
  overflow: hidden;
}
.weatherBody.nightView .weatherInfo {
  color: var(--clr-text-white-muted);
}
.weatherInfo a {
  text-decoration: underline;
  cursor: pointer;
  transition: color 100ms;
}
.weatherInfo a:hover {
  color: var(--clr-text);
}

.weatherLink {
  margin-block-start: var(--gap-400);
  margin-inline-start: var(--gap-200);
}
.weatherLink a {
  text-decoration: underline;
}
.weatherLink a:hover {
  text-decoration: none;
}


section.nearby {
  @media (max-width: 83rem) {
    grid-column: full-width;
  }
}
.nearbyMain {
  display: grid;
  gap: var(--gap-500);
  padding-block: var(--gap-500) var(--gap-600);
  justify-items: center;
  background: var(--clr-bg-darker);
  width: 100%;
}
.nearbyWalks {
  max-width: min(70rem, 100%);
}


/*  */


.elevation-chart_tooltip {
  font-size: var(--fs-300);
  background: var(--clr-text-white);
  padding: var(--gap-200) var(--gap-300);
  border-radius: var(--gap-200);

  filter: drop-shadow(0 0 2px #0003);
}
