.weather {
  background: var(--clr-bg);

  & > section {
    --content-max-width: 1240px;
  }
}

.main {
  display: grid;
  gap: var(--gap-600);
}

/*  */

.boldheading {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

.suntime {
  font-size: var(--fs-300);
  color: var(--clr-text-muted);
  margin-top: 0.125lh;
}

/*  */

.forecast,
.futureForecast {
  display: grid;
  row-gap: var(--gap-800);
}
.forecastRow {
  display: grid;
  grid-template-columns: 23ch auto;
  column-gap: var(--gap-600);
  row-gap: var(--gap-300);
}
.forecastSticky {
  display: grid;
  gap: var(--gap-500);

  height: fit-content;

  & .boldheading {
    margin-block-end: 0.25lh;
  }
}
.additionalInfo {
  display: contents;
}

.furtherTitle {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.forecastMain {
  display: grid;
  gap: var(--gap-400);

  margin-block-start: 0.25lh;

  & p {
    line-height: 1.4;
  }
  & > div {
    max-width: 100%;
    overflow: hidden;
  }

  & .additionalInfo {
    display: none;
  }
}

@media (max-width: 60rem) {
  .forecast,
  .futureForecast {
    row-gap: var(--gap-600);
  }
  .forecastRow {
    grid-template-columns: 1fr;
  }
  .forecastSticky {
    position: initial;
    padding-block: 0;
    gap: var(--gap-400);
  }

  .forecastSticky h2 {
    font-size: var(--fs-800);
  }
  .furtherTitle {
    clip-path: unset;
    height: unset;
    overflow: unset;
    position: unset;
    white-space: unset;
    width: unset;

    margin-block-end: calc(-1 * var(--gap-400));
  }

  .forecastSticky .additionalInfo {
    display: none;
  }
  .forecastMain .additionalInfo {
    display: contents;
  }
}

.temperatureList {
  list-style: square inside;
  margin-inline-start: 0.25ch;
}

/*  */

.mountainHazards {
  list-style: none;

  display: flex;
  gap: 0.5ch;
  flex-wrap: wrap;
}
.mountainHazard,
.meteorologistView {
  padding-inline: 0.625ch;
  padding-block: 0.25lh;
  display: inline-block;
  height: fit-content;

  &.high {
    background: #f3693740;
    border-inline-start: 0.25rem solid #f36937;
  }
  &.medium {
    background: #f6b24340;
    border-inline-start: 0.25rem solid #f6b243;
  }
  &.low {
    background: #f1d46340;
    border-inline-start: 0.25rem solid #f1d463;
  }
}
.meteorologistView {
  background: #6daac340;
  border-inline-start: 0.25rem solid #6daac3;
}

/*  */

.weatherTableContainer {
  width: min(100%, 48rem);
  overflow-x: auto;
}
.weatherTable {
  width: 100%;

  --_padding-inline: var(--gap-400);
  margin-block: var(--gap-300);

  & td,
  & th {
    text-wrap: nowrap;
    text-align: center;
    padding-inline: 0.5ch;
  }
  & th {
    font-weight: var(--fw-medium);
  }
  & th:first-child {
    text-align: left;
    padding-inline-start: 0;

    position: sticky;
    left: 0;
    background: var(--clr-bg);
  }

  & svg {
    max-width: 4.5ch;
    max-height: 4.5ch;
  }
  & .rowIcon {
    display: none;

    & svg {
      width: 3ch;
      height: 3ch;
    }
  }
}
.primaryRow th,
.primaryRow td {
  padding-block-start: 0.25lh;
}
.secondaryRow {
  font-size: var(--fs-300);
}

/*  */

@media (max-width: 36rem) {
  .weatherTable th .rowIcon {
    display: flex;
    justify-content: center;

    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
  }
  .weatherTable th .rowTitle {
    display: none;
  }
}

/*  */

.metoffice {
  font-size: var(--fs-300);
  color: var(--clr-text-muted);

  margin-inline: auto;
  text-align: center;
  text-wrap: balance;

  & a {
    text-decoration: underline;
    transition: color 100ms;
  }
  & a:hover {
    color: var(--clr-text);
  }
}
