.weather {
  background: var(--clr-bg);

  & > section {
    --content-max-width: 1240px;
  }
}

.main {
  display: grid;
  gap: var(--gap-600);
}

/*  */

.boldheading {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

.suntime {
  font-size: var(--fs-300);
  color: var(--clr-text-muted);
  margin-top: 0.125lh;
}

/*  */

.forecast,
.futureForecast {
  display: grid;
  row-gap: var(--gap-800);
}
.forecastRow {
  display: grid;
  grid-template-columns: 23ch auto;
  column-gap: var(--gap-600);
  row-gap: var(--gap-300);
}
.forecastSticky {
  position: sticky;
  top: 6rem;

  display: grid;
  gap: var(--gap-500);

  height: fit-content;
  padding-block-end: 2rem;

  & .boldheading {
    margin-block-end: 0.25lh;
  }
}
.futureForecast .forecastSticky {
  padding-block: 0;
}
.additionalInfo {
  display: contents;
}

.forecastMain {
  display: grid;
  gap: var(--gap-400);

  margin-block-start: 0.25lh;

  & p {
    line-height: 1.4;
  }
  & > div {
    max-width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 60rem) {
  .forecastRow {
    grid-template-columns: 1fr;
  }
  .forecastSticky {
    position: initial;
    padding-block: 0;
    gap: var(--gap-400);
  }
  .additionalInfo {
    display: none;
  }
}

.forecastMain ul {
  list-style: square inside;
  margin-inline-start: 0.25ch;
}

/*  */

.mountainHazards {
  list-style: none;
}
.mountainHazard,
.meteorologistView {
  padding-inline: 0.625ch;
  padding-block: 0.25lh;
  display: inline-block;
  height: fit-content;

  &.high {
    background: #f3693740;
    border-inline-start: 0.25rem solid #f36937;
  }
  &.medium {
    background: #f6b24340;
    border-inline-start: 0.25rem solid #f6b243;
  }
  &.low {
    background: #f1d46340;
    border-inline-start: 0.25rem solid #f1d463;
  }
}
.meteorologistView {
  background: #6daac340;
  border-inline-start: 0.25rem solid #6daac3;
}

/*  */

.weatherTableContainer {
  width: min(100%, 48rem);
  overflow-x: auto;
}
.weatherTable {
  width: 100%;

  --_padding-inline: var(--gap-400);
  margin-block: var(--gap-300);

  & td,
  & th {
    text-wrap: nowrap;
    text-align: center;
    padding-inline: 0.5ch;
  }
  & th {
    font-weight: var(--fw-medium);
  }
  & th:first-child {
    text-align: left;
    padding-inline-start: 0;
  }

  & svg {
    max-width: 4.5ch;
    max-height: 4.5ch;
  }
}
.primaryRow th,
.primaryRow td {
  padding-block-start: 0.25lh;
}
.secondaryRow {
  font-size: var(--fs-300);
}
