
.editor-page {
  display: flex;

  width: 100%;
  padding: 0;
}


.editor__controls {
  position: relative;
  z-index: 2;

  max-width: 50%;

  transition: max-width 100ms;
  transition-behavior: allow-discrete;
}
.editor__controls[data-open="false"] {
  max-width: 10px;
  /* translate: -100%; */
}
.editor__controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;

  background: var(--clr-neutral-900);
  width: clamp(250px, 25vw, 300px);
  height: 100%;

  transition: translate 100ms;
  cursor: default;
}
.editor__controls[data-open="false"] .editor__controls-wrapper {
  translate: -100%;
}

.editor__controls input[type="radio"] {
  display: none;
}

.editor__controls h1 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  font-size: var(--fs-800);
  line-height: 1.1;
}

.editor__controls-title {
  border: none;
  background: none;

  width: calc(100% + 0.25rem);
  padding: 0.25rem;
  margin-inline-start: -0.25rem;

  font-weight: var(--fw-medium);
  font-size: 1.125em;
}
.editor__controls-title::placeholder {
  font-style: italic;
}
.editor__controls-title:focus {
  background: hsl(from var(--clr-neutral-900) h s l / 60%);
}

.editor__controls-group {
  display: grid;
  gap: 0.25rem;
}
.editor__controls-group.horizontal {
  grid-auto-flow: column;
  width: fit-content;
}

.editor__controls button,
.editor__controls label[role="button"] {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  vertical-align: center;

  user-select: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;

  font-weight: var(--fw-medium);

  background: var(--clr-neutral-700);
  cursor: pointer;

  width: fit-content;
}
.editor__controls button:hover,
.editor__controls label[role="button"]:hover {
  background: var(--clr-neutral-700);
}

.editor__controls label[role="button"].active {
  color: var(--clr-neutral-900);
  background: var(--clr-primary-300);
}

.editor__controls button:disabled {
  color: var(--clr-neutral-600);
  background: var(--clr-neutral-600);
  cursor: default;
}


.editor__controls-selected {
  background: var(--clr-neutral-900);
  border: 1px solid var(--clr-neutral-700);
  border-radius: 0.25rem;
  padding: 0.5rem;

  text-wrap: balance;
}
.editor__controls-selected .flex-row {
  gap: 0.25rem;
  width: 100%;
  align-items: center;
}
.editor__controls-selected ul {
  list-style: none;
  margin-block-end: 0.5rem;
}
.editor__controls-selected label {
  font-weight: var(--fw-medium);
}
.editor__controls-selected input {
  padding: 0.25rem;
  max-width: 50%;
}


button.editor__controls-close {
  position: absolute;
  top: 50%;
  left: calc(100% + 0.25rem);

  translate: 0 -50%;

  padding-block: 0.75rem;
  padding-inline: 0.25rem;

  font-weight: var(--fw-medium);
  background: var(--clr-neutral-900);
  border-radius: 0.125rem;

  box-shadow: 1px 1px 5px #0006;
}


.editor-map {
  flex: 1;
}


.editor-map_route {
  --_gpx-line-colour: var(--clr-primary-300);
  --_gpx-line-stroke: var(--clr-primary-0);

  stroke: var(--_gpx-line-colour);
  stroke-width: 5;
  filter: drop-shadow(0.0625rem 0 0 var(--_gpx-line-stroke))
          drop-shadow(0 0.0625rem 0 var(--_gpx-line-stroke))
          drop-shadow(-0.0625rem 0 0 var(--_gpx-line-stroke))
          drop-shadow(0 -0.0625rem 0 var(--_gpx-line-stroke));
  cursor: default;

  stroke-linecap: round;
  stroke-linejoin: round;
}

.editor-map_point {
  width: 7px;
  aspect-ratio: 1;
  background: rgb(222, 161, 21);
  border-radius: 30%;
  border: 1px solid var(--clr-primary-0);
}
.editor-map_point:hover {
  transform: scale(1.75);
}

.editor-map[data-mode="del"] .editor-map_point {
  background: rgb(201, 9, 9);
}
.editor-map[data-mode="add"] .editor-map_point {
  background: rgb(174, 161, 161);
}
.editor-map[data-mode="add"] .editor-map_point:hover {
  transform: none;
}

.editor-map[data-mode="del"] .editor-map_route {
  --_gpx-line-colour: rgb(145, 32, 26);
}
.editor-map[data-mode="add"] .editor-map_route {
  --_gpx-line-colour: green;
}
