
.editor-page {
  display: flex;

  width: 100%;
  padding: 0;
}

.editor-page h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-800);
  text-wrap: balance;
  line-height: 1.1;

  text-align: center;
}


.editor-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;

  background: var(--clr-white-400);
  width: 300px;

  overflow-x: auto;
}

.editor-controls input[type="radio"] {
  display: none;
}

.editor-controls button,
.editor-controls label[role="button"] {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;

  background: var(--clr-white-600);
  cursor: pointer;
}
.editor-controls button:hover,
.editor-controls label[role="button"]:hover {
  background: var(--clr-white-500);
}

.editor-controls label[role="button"].active {
  background: var(--clr-primary-500);
}

.editor-controls button:disabled {
  color: var(--clr-black-200);
  background: var(--clr-black-100);
  cursor: default;
}


.editor-map {
  flex: 1;
}


.editor-map_route {
  --_gpx-line-colour: var(--clr-primary-500);
  --_gpx-line-stroke: var(--clr-primary-800);

  stroke: var(--_gpx-line-colour);
  stroke-width: 5;
  filter: drop-shadow(0.0625rem 0 0 var(--_gpx-line-stroke))
          drop-shadow(0 0.0625rem 0 var(--_gpx-line-stroke))
          drop-shadow(-0.0625rem 0 0 var(--_gpx-line-stroke))
          drop-shadow(0 -0.0625rem 0 var(--_gpx-line-stroke));
  cursor: default;

  stroke-linecap: round;
  stroke-linejoin: round;
}

.editor-map_point {
  width: 7px;
  aspect-ratio: 1;
  background: rgb(86, 209, 246);
  border-radius: 30%;
  border: 1px solid var(--clr-primary-800);
}
.editor-map_point:hover {
  transform: scale(1.75);
}
