.container {
  container-type: inline-size;
  width: 100%;
  overflow: hidden;
}

.walkCard {
  display: grid;
  grid-template-columns: 1fr 2fr;

  max-width: 100%;
  height: 100%;

  background: var(--clr-neutral-700);
  border-radius: 0.5rem;
  overflow: hidden;
}

.image {
  position: relative;
  overflow: hidden;
}
.image img {
  transition: scale 100ms;
}
.walkCard:hover img {
  scale: 1.05;
}
.dist {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;

  background: var(--clr-neutral-900);
  border-radius: 0.25rem;
  padding-inline: 0.5rem;
  padding-block: 0.25rem 0.125rem;

  font-size: var(--fs-200);
  font-weight: var(--fw-medium);

  cursor: default;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;

  background: var(--clr-neutral-1000);

  padding-block: 0.75rem 1rem;
  padding-inline: 1rem;
}
.text .subheading {
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 100ms;
}
.walkCard:hover .text .subheading {
  color: var(--clr-primary-400);
}
.icons {
  display: flex;
  font-weight: var(--fw-medium);

  width: 100%;
}
.iconsIcon {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  padding-inline: 0.25rem;

  min-width: 1px;
  flex: 1;

  border-inline-end: 1px solid var(--clr-neutral-700);
}
.iconsIcon.wide {
  flex: 1.5;
}
.iconsIcon:first-child {
  padding-inline-start: 0;
}
.iconsIcon:last-child {
  padding-block-end: 0;
  border-inline-end: none;
}
.text .button {
  margin-block-start: auto;
  margin-inline-start: auto;
}


.group {
  display: grid;
  grid-template-columns: repeat(3, minmax(min(22rem, 90%), 1fr));
  gap: 1rem;
  justify-items: center;
  align-content: center;

  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.group > .container {
  scroll-snap-align: center;
}


@container (max-width: 30rem) {
  .walkCard {
    display: flex;
    flex-direction: column;
  }

  .image {
    height: 11rem;
  }
  .text {
    padding-block-start: 0.625rem;
  }
}
