.hills-page section {
  padding-block: var(--gap-400);
}

.hills-page-map {
  width: 100%;
  height: min(35rem, 95vw);
}


.hills-page input {
  margin-block-end: 1rem;
  padding: 0.125rem 0.25rem;

  width: 12ch;

  font-size: var(--fs-600);

  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--clr-black-200);
}
.hills-page input:focus {
  border-bottom: 2px solid var(--clr-black-400);
}
.hills-page a:hover {
  text-decoration: underline;
}


.hills-page table {
  --inner-gap: 1.5rem;

  @media (max-width: 700px) {
    --inner-gap: 0.25rem;
  }

  border-spacing: var(--inner-gap) 0.5rem;
  margin-inline: calc(var(--inner-gap)*-1);
}
.hills-page table thead {
  font-weight: var(--fw-bold);
  cursor: pointer;
}
.hills-page .table-arrow {
  color: var(--clr-black-200);
}
.hills-page .table-arrow.active {
  color: var(--clr-black-400);
}


.wainwright-book-top {
  --_book-color: black;

  display: grid;
  gap: 0;
  margin: auto;

  width: 2rem;
  height: 2.5rem;
  overflow: hidden;

  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;

  background: var(--clr-white-400);

  cursor: pointer;

  -webkit-box-shadow: 1px 1px 0 0.5px #c7c7c7;
  -moz-box-shadow: 1px 1px 0 0.5px #c7c7c7;
  box-shadow: 1px 1px 0 0.5px #c7c7c7;
}
.wainwright-book-top-color {
  height: 70%;
  background: var(--_book-color);
}
.wainwright-book-top[data-book="1"] {
  --_book-color: var(--wain-book-1);
}
.wainwright-book-top[data-book="2"] {
  --_book-color: var(--wain-book-2);
}
.wainwright-book-top[data-book="3"] {
  --_book-color: var(--wain-book-3);
}
.wainwright-book-top[data-book="4"] {
  --_book-color: var(--wain-book-4);
}
.wainwright-book-top[data-book="5"] {
  --_book-color: var(--wain-book-5);
}
.wainwright-book-top[data-book="6"] {
  --_book-color: var(--wain-book-6);
}
.wainwright-book-top[data-book="7"] {
  --_book-color: var(--wain-book-7);
}
