.home-page section {
  padding-block: var(--gap-600);
}


.home-hero-section .title {
  width: 16.8ch;
}
.home-hero-section p {
  max-width: 33ch;
  line-height: 1.5;
}

@media (max-width: 41rem) {
  .home-hero-section {
    position: relative;
    height: calc(95vw * 1.2);
    text-align: center;
    align-items: center;
    overflow: hidden;
  }
  .home-hero-text {
    position: absolute;
    top: 30%;
  }
  .home-hero-text * {
    margin-inline: auto;
  }
  .home-hero-section #flat-map {
    position: absolute;
    top: var(--gap-600);
    left: 12vw;
    max-width: 75vw;
    z-index: -1;
  }
}


.home-featured-container {
  width: min(100%, 1000px);
  gap: var(--gap-600);
}
.home-featured-walk {
  min-width: 100px;
  height: 400px;
  flex: 1;

  background: white;
  border-radius: 0.5rem;
}


/* Wainwrights progress donut */

.donut {
  isolation: isolate;
}
.donut p {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  color: var(--clr-black-300);
  line-height: 1;
}
.donut .wainwright-count {
  font-size: var(--fs-1000);
  color: var(--clr-black-400);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: calc(7.5 * var(--fs-800));
  height: calc(7.5 * var(--fs-800));
  border-radius: 50%;
  border: var(--fs-600) solid #E4CCBC;
}
.progress .circle {
  border-color: var(--clr-primary-400);
}

.progress {
  width: fit-content;
  position: absolute;

  animation: fill-circle 1s forwards;
}
@keyframes fill-circle {
  from {
    clip-path: polygon(50% 0, 50% 0, 50% 0%, 50% 50%);
  }
  40% {
    clip-path: polygon(50% 0, 100% 0, 100% 0%, 50% 50%);
  }
  to {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 50%);
  }
}

/*   */


.home-about-image {
  border-radius: 0.5rem;
  max-height: 500px;
}
