.home__hero-section {
  position: relative;

  height: max(85vh, 40rem);
}

.home__hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;

  color: var(--clr-white-400);
}
.home__hero .title {
  max-width: 20ch;
  text-align: center;
}
.home__hero-search {
  color: var(--clr-black-400);
  background: var(--clr-white-400);

  border: none;
  border-radius: 999rem;
  width: min(36rem, 80%);

  padding-inline: 1.25rem;
  padding-block: 0.75rem;
}

.home__hero-image {
  position: absolute;
  inset: 0;
  grid-column: full-width;
  z-index: -1;
}


.home__featured {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

  margin-block: 3.5rem;
}
.home__featured-title {
  text-align: center;
}
.home__featured-walks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  max-width: 100%;
  overflow-x: auto;
}


.home__wainwrights-section {
  background: #e7dcd5;
}
.home__wainwrights {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);

  width: min(1100px, 100%);
  margin-inline: auto;

  margin-block: 3.5rem;
}
.home__wainwrights-text {
  display: grid;
  gap: 2rem;
}
.home__wainwrights-map {
  height: 100%;
}
