.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home-page header {
  margin: auto;
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.home-page--title-wright{
  content: "wright";
  display: inline-block;
  vertical-align: text-bottom;
  text-align: left;
  width: 0;
  overflow: hidden;
  transition: width .3s ease-in-out;
}
@media (min-width: 720px) {
  .home-page--title:hover > .home-page--title-wright {
    width: 5.3ch;
  }
}
/* .home-page header h1:hover {
  transform: translateY(-0.2rem);
} */

.home-page_button {
  font-size: var(--fs-600);
  font-weight: var(--fw-800);
  font-family: var(--ff-cursive);

  color: var(--cl-text-white);
  background: var(--cl-primary);
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
}
.home-page_button:hover {
  color: inherit;
}

.home-page--links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: min(100%, 550px);
  margin: auto;
  font-weight: normal;
}
.home-page--links a {
  /* font-size: 1.5rem; */
  border: none;
  transition: all .1s ease-in-out;
  cursor: pointer;
}
.home-page--links a:hover,
.home-page--links a.active {
  color: var(--primary);
  font-weight: 600;
}
/* @media (max-width: 720px) {
  .home-page--links {
    width: 100%;
  }
} */


.home-page--map {
  width: min(650px, 90%);
  aspect-ratio: 1;
}
