.home-page section {
  --content-max-width: 1200px;
}

.home__hero-section {
  position: relative;

  height: max(min(max(82vh, 40rem), 50vw), 30rem);
  overflow: hidden;
}

.home__hero {
  display: flex;
  flex-direction: column;
  gap: var(--gap-600);
  justify-content: center;
  align-items: center;
  z-index: 2;
  grid-column: full-width;

  color: var(--clr-neutral-900);
}
.home__hero .title {
  max-width: min(18ch, 100%);
  text-align: center;
}
.home__hero-search {
  width: min(38rem, 80%);
  z-index: 1;
}

.home__hero-image,
.home__hero-image-overlay {
  position: absolute;
  inset: 0;
  grid-column: full-width;
}
.home__hero-image-overlay {
  background: var(--clr-neutral-400);
  opacity: 0.1;

  z-index: 1;
  pointer-events: none;
}


.home__featured {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

  margin-block: var(--gap-800);
}
.home__featured-title {
  text-align: center;
}

.home__wainwrights-section {
  background: #e7dcd5;
}
.home__wainwrights {
  --_map-min-height: 35rem;

  display: grid;
  gap: var(--gap-700);
  grid-template-columns: repeat(2, 1fr);

  margin-block: var(--gap-800);

  @media (max-width: 55rem) {
    --_map-min-height: 23rem;

    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap-800);
  }
}
.home__wainwrights-text {
  display: grid;
  gap: var(--gap-400);

  margin-block: var(--gap-500) var(--gap-600);
}
.home__wainwrights-map {
  min-height: var(--_map-min-height);
}


.home__faq {
  display: grid;
  gap: var(--gap-500);
  justify-items: center;

  margin-block: var(--gap-800);

  width: min(800px, 100%);
  margin-inline: auto;
}


.faq {
  display: grid;
  grid-auto-flow: row;

  width: 100%;
}

.faq-block {
  --_border-radius: 0.5rem;

  display: grid;

  width: 100%;
  overflow: hidden;

  background: var(--clr-neutral-800);
  border: 1px solid var(--clr-neutral-700);
}
.faq-block:first-child {
  border-start-start-radius: var(--_border-radius);
  border-start-end-radius: var(--_border-radius);
}
.faq-block:last-child {
  border-end-start-radius: var(--_border-radius);
  border-end-end-radius: var(--_border-radius);
}
.faq-block:not(:last-child) {
  border-block-end: none;
}

.faq__question,
.faq__answer {
  padding-block: var(--gap-300);
  padding-inline: var(--gap-400);
}

.faq__question {
  cursor: pointer;
}

.faq__answer {
  display: none;

  padding-block: var(--gap-400);
  border-block-start: 1px solid var(--clr-neutral-700);
  background: var(--clr-neutral-1000);
}
.faq-block[data-open="true"] .faq__answer {
  display: block;
}
