.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home-page_hero {
  gap: 4rem;
  margin: auto;
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.home-page_title {
  font-size: var(--fs-1000);
  font-weight: var(--fw-900);
  font-family: var(--ff-heading);
  letter-spacing: -1px;
  line-height: var(--fs-1000);
}

.home-page_tagline {
  font-size: var(--fs-900);
  font-weight: var(--fw-800);
  font-family: var(--ff-heading);
  line-height: calc(var(--fs-900)*1.125);
}
.home-page_tagline .cursive {
  font-family: var(--ff-cursive);
  font-size: calc((var(--fs-1000) + var(--fs-900))/2);
  margin-left: -0.25rem;
  margin-right: 0.375rem;
}

.home-page--title-wright{
  content: "wright";
  display: inline-block;
  vertical-align: text-bottom;
  text-align: left;
  width: 0;
  overflow: hidden;
  transition: width .3s ease-in-out;
}
@media (min-width: 720px) {
  .home-page--title:hover > .home-page--title-wright {
    width: 5.3ch;
  }
}
/* .home-page header h1:hover {
  transform: translateY(-0.2rem);
} */

.home-page_buttons {
  gap: calc(var(--fs-600)/2);
}

.home-page_button {
  display: flex;
  gap: calc(var(--fs-600)/2.5);

  font-size: var(--fs-600);
  font-weight: var(--fw-800);
  font-family: var(--ff-cursive);

  color: var(--cl-text-white);
  background: var(--cl-primary);
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
}
.home-page_button:hover {
  color: inherit;
}

.home-page_button svg {
  --svg-dash: 20;
  width: calc(var(--fs-600) * 0.96);
  stroke-dasharray: var(--svg-dash);
}
.home-page_button.walks svg {
  --svg-dash: 5;
  stroke-width: 1.25;
  rotate: 15deg;
}
.home-page_button svg {
  stroke-width: 0.75;
  rotate: 6deg;
}

.home-page_button:hover svg {
  animation: draw-svg 600ms ease-out;
}
.home-page_button.walks:hover svg {
  animation-duration: 400ms;
}
@keyframes draw-svg {
  0%, 20% {
    stroke-dashoffset: var(--svg-dash);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.home-page--links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: min(100%, 550px);
  margin: auto;
  font-weight: normal;
}
.home-page--links a {
  /* font-size: 1.5rem; */
  border: none;
  transition: all .1s ease-in-out;
  cursor: pointer;
}
.home-page--links a:hover,
.home-page--links a.active {
  color: var(--primary);
  font-weight: 600;
}
/* @media (max-width: 720px) {
  .home-page--links {
    width: 100%;
  }
} */


.home-page--map {
  width: min(650px, 90%);
  aspect-ratio: 1;
}
