.walk {
  background: var(--clr-white-400);

  border-start-start-radius: 1rem;
  border-start-end-radius: 1rem;
}

.walk-header {
  padding: 1rem;
  padding-top: 4rem;
  border-radius: inherit;
}

.walk-header h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-1000);
  font-weight: var(--fw-bold);
  line-height: 1;
  margin-block: 0.5rem;
}

.walk-header ul {
  max-width: 65ch;
  text-wrap: pretty;

  list-style: none;
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}
.walk-header li {
  display: inline-block;
}
.walk-header li:not(:last-child)::after {
  content: "/";
  pointer-events: none;
  margin-inline: 0.5ch;
}
.walk-header a:hover {
  text-decoration: underline;
}

.walk-stats {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);

  padding-block: 0.25lh;

  color: var(--clr-white-400);
  background: var(--clr-primary-800);
}
.walk-stats div {
  display: grid;
}
.walk-stats div span:first-child {
  font-size: var(--fs-300);
  font-weight: var(--fw-light);
  color: var(--clr-white-600);
}
.walk-stats div span:last-child {
  font-weight: var(--fw-bold);
}


.walk-wrapper {
  display: flex;
}

.walk-main {
  flex: 1;
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.walk-route {
  display: grid;
  gap: 1rem;
}

.walk-route button {
  display: flex;
  align-items: center;

  width: fit-content;
  padding: 0.25rem 0.5rem;

  background: var(--clr-primary-400);
  border-radius: 0.25rem;
}
.walk-route button:hover {
  background: var(--clr-primary-500);
}
.walk-route button > svg {
  width: 1.5em;
}

.walk-map {
  width: 80%;
  aspect-ratio: 1;
}
.walk-elevation {
  width: 80%;
  height: 250px;
  background: var(--clr-white-600);
  border-radius: 0.5rem;
}

.walk-description {
  display: grid;
  gap: 0.5rem;
}
.walk-description h2 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}


.walk-wrapper aside {
  width: 25%;
  margin-block: 1rem;

  border-left: 1px solid var(--clr-black-100);
}

.bus-group {
  display: flex;
  gap: 0.375rem;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
}
.bus-number {
  min-width: 4ch;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  text-align: center;

  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  color: var(--clr-white-400);
}
