.walks-page {
  display: grid;
  gap: 1rem;
}

.walks-page_intro {
  height: 30rem;
  width: 20rem;
}

.walks-page_walks {
  display: grid;
  gap: 0.5rem;
}

.walks-page_search {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 1rem;

  font-size: var(--fs-800);
}

.walks-page_search-top {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.walks-page_list {
  display: grid;
  gap: 0.5rem;
}

.walk-card {
  --card-height: 7.5rem;
  --card-padding: 0.5rem;

  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;

  min-width: 0;
  height: var(--card-height);
  padding: var(--card-padding);

  background: var(--clr-white-400);
  border: 1px solid var(--clr-white-600);
  border-radius: 0.5rem;

  transition: translate 100ms;
}
.walk-card:hover {
  translate: 0 -0.125rem;
}

.walk-card_image {
  --image-width: calc(var(--card-height) - 2.25*var(--card-padding));

  min-width: var(--image-width);
  max-width: var(--image-width);
  aspect-ratio: 1;

  border-radius: 0.25rem;
  overflow: hidden;
}
@media (max-width: 650px) {
  .walk-card {
    --card-height: 5.325rem;
    --card-padding: 0.375rem;
    padding-left: calc(var(--card-padding)*1.5);
  }
  .walks-page_desktop-only {
    display: none;
  }
}

.walk-card_text {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--card-padding)/2);
  margin-block: calc(var(--card-padding)/3);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.walk-card_text h3 {
  font-family: var(--ff-heading);
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  line-height: 1.25lh;
}
.walk-card_text h3:hover {
  color: var(--clr-primary-400);
}

.walk-card_stats {
  display: flex;
  gap: 0.375rem;
  align-items: center;
  margin-top: auto;

  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  color: var(--clr-black-300);
}
.walk-card_stats span {
  display: flex;
  gap: 0.125rem;
  align-items: center;
}
.walk-card_stats svg {
  width: calc(var(--fs-300)*1.125);
  aspect-ratio: 1;
  stroke-width: 2;
}
