.walk-page section {
  padding-block: var(--gap-400);
  max-width: calc(69ch + 290px);
  margin-inline: auto;
}

.walk-page_heading {
  margin-bottom: var(--gap-400);
}

.walk-page_body {
  gap: var(--gap-600);
}

.walk-page_main {
  min-width: 450px;
  gap: var(--gap-500);
}
.walk-page_main > div {
  width: 100%;
}
.walk-page_summary h3,
.walk-page_summary p {
  /* font-size: inherit; */
  /* font-weight: inherit; */
  display: inline;
}
/* .walk-page_summary p {
  font-weight: var(--fw-bold);
} */

.walk-page_wainwrights span {
  display: inline-block;
}
.walk-page_wainwrights a:hover {
  text-decoration: underline;
}

.walks-page_section {
  gap: var(--gap-300);
}


.walk-page_map,
.walk-page_elevation {
  width: 98%;
  border-radius: 0.25rem;
}
.walk-page_map {
  aspect-ratio: 7 / 5;
}
.walk-page_elevation {
  height: 220px;

  background: var(--clr-white-400);
  padding-inline: var(--gap-400);
  padding-block: var(--gap-300);
}


.walks-page_gallery img {
  transition: scale 100ms;
  cursor: pointer;

  border-radius: calc(var(--gap-200) / 2);
}
.walks-page_gallery img:hover {
  scale: 1.05;
}


.walk-page_aside {
  max-width: 290px;
}
.walk-page_aside > div {
  width: 100%;
}

.walk-page_aside img {
  max-width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.walk-page_locations {
  gap: var(--gap-200);
}
.walk-page_locations > div {
  row-gap: 0;
}
.walk-page_locations a:hover {
  text-decoration: underline;
}


.walk-page_busses {
  gap: var(--gap-200);
  font-weight: var(--fw-medium);
}

.walk-page_bus-number {
  color: var(--clr-white-400);
  border-radius: var(--gap-200);
  padding-inline: var(--gap-200);
  padding-block-start: calc(var(--gap-200) / 2);

  cursor: default;
}


.walks-page_weather-temperature {
  font-size: var(--fs-1000);
  font-weight: var(--fw-bold);
}
.walks-page_weather-image {
  max-width: 200px;
}


.walk-page_nearby div {
  margin-inline: auto;
}

.walk-page_nearby-walk {
  width: 230px;
  height: 300px;
  border-radius: var(--gap-300);

  background: white;
}
