.walks {
  display: grid;
  gap: 1rem;
}

.walks h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-1000);
  font-weight: var(--fw-bold);
  line-height: 1;
}


.walks-main {
  display: flex;
  gap: 1rem;
}


.walks-map {
  position: sticky;
  top: 6rem;

  width: 40%;
  min-width: 300px;
  height: 80vh;
}

@media (max-width: 750px) {
  .walks-main {
    flex-direction: column-reverse;
  }

  .walks-map {
    position: initial;
    width: 100%;
    height: 300px;
  }
}



.walks-search input {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 1rem;

  font-size: var(--fs-800);
}

.walks-search-top {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.walks-list {
  display: grid;
  gap: 0.5rem;
}

.walks-card {
  --card-height: 7.5rem;
  --card-padding: 0.5rem;

  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;

  min-width: 0;
  height: var(--card-height);
  padding: var(--card-padding);

  background: var(--clr-white-400);
  border: 1px solid var(--clr-white-600);
  border-radius: 0.5rem;

  transition: translate 100ms;
}
.walks-card:hover {
  translate: 0 -0.125rem;
}

.walks-card_image {
  --image-width: calc(var(--card-height) - 2.25*var(--card-padding));

  min-width: var(--image-width);
  max-width: var(--image-width);
  aspect-ratio: 1;

  border-radius: 0.25rem;
  overflow: hidden;
}
@media (max-width: 650px) {
  .walks-card {
    --card-height: 5.325rem;
    --card-padding: 0.375rem;
    padding-left: calc(var(--card-padding)*1.5);
  }
  .walks-desktop-only {
    display: none;
  }
}

.walks-card_text {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--card-padding)/2);
  margin-block: calc(var(--card-padding)/3);

  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.walks-card_text h3 {
  font-family: var(--ff-heading);
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  line-height: 1.25lh;
}
.walks-card_text h3:hover {
  text-decoration: underline;
}

.walks-card_stats {
  display: flex;
  gap: 0.375rem;
  align-items: center;
  margin-top: auto;

  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  color: var(--clr-black-300);
}
.walks-card_stats span {
  display: flex;
  gap: 0.125rem;
  align-items: center;
}
.walks-card_stats svg {
  width: calc(var(--fs-300)*1.125);
  aspect-ratio: 1;
  stroke-width: 2;
}
