.walks-page {
  margin-block: 2rem;
}
.walks-page section {
  --content-max-width: 1300px;
}

.walks__map {
  width: 100%;
  height: 20rem;
}

.walks__main {
  display: flex;
  gap: 1.75rem;

  width: 100%;

  @media (max-width: 55.5rem) {
    flex-direction: column;
  }
}

.walks__grid {
  container-type: inline-size;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  flex: 1;
}
.walks__grid-filters {
  text-align: center;

  border-radius: 0.25rem;
  background: var(--clr-neutral-800);
  padding-block: 0.75rem;
  padding-inline: 1rem;
  margin-block-end: 0.5rem;
}
.walks__grid-filters .button {
  display: inline-block;
}
.walks__grid-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  justify-items: center;
}

.walks__filters {
  width: 15rem;
  height: fit-content;
  /* height: calc(100vh - 3rem); */
  /* min-height: fit-content; */
  /* width: clamp(10rem, 20vw, 18rem); */

  /* overflow-y: auto; */
  margin-block-start: 2rem;

  position: sticky;
  top: 1.5rem;

  z-index: 1;

  @media (max-width: 55.5rem) {
    position: revert;
  }
}
