.weather-page section {
  padding-block: var(--gap-400);
}
.weather-main {
  gap: var(--gap-600);
}

.weather-days {
  gap: var(--gap-600);
}
.weather-day {
  flex: 1;
}
.weather-day.future {
  gap: var(--gap-300);
}

.weather-page h3,
.weather-page h4 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}
.weather-page h4 {
  font-weight: var(--fw-medium);
}
.weather-page ul {
  list-style: square inside;
  margin-inline-start: 0.5rem;
}


.weather-page .forecast {
  max-width: 90vw;
  overflow-x: auto;
}
.forecast-table th,
.forecast-table td {
  padding-inline: calc(var(--gap-200) / 2) var(--gap-400);
  text-align: center;
  text-wrap: nowrap;
}
.forecast-table th:first-child,
.forecast-table td:first-child {
  text-align: left;
}
.forecast-table .primary-row th,
.forecast-table .primary-row td {
  padding-top: var(--gap-300);
  min-width: fit-content;
}
.forecast-table img {
  min-width: calc(2.5 * var(--fs-600));
  max-width: calc(2.5 * var(--fs-600));
}


.weather-extra-details {
  max-width: 300px;
}
.mountain-hazards,
.mountain-hazards-list {
  gap: var(--gap-300);
}
.mountain-hazards-list > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--gap-200);
}
.mountain-hazard,
.meteorologist {
  padding-inline: var(--gap-300);
  padding-block: calc(1.25 * var(--gap-200)) calc(0.75 * var(--gap-200));
  display: inline-block;
}
.mountain-hazard.low {
  background: #F1D46340;
  border-inline-start: 0.25rem solid #F1D463;
}
.mountain-hazard.medium {
  background: #F6B24340;
  border-inline-start: 0.25rem solid #F6B243;
}
.mountain-hazard.high {
  background: #F3693740;
  border-inline-start: 0.25rem solid #F36937;
}
.meteorologist {
  background: #6DAAC340;
  border-inline-start: 0.25rem solid #6DAAC3;
}

@media (max-width: 1100px) {
  .weather-extra-details {
    max-width: none;
  }
  .mountain-hazards {
    gap: 0;
  }
  .mountain-hazards-list {
    flex-direction: row;
    width: 100%;
  }
  .mountain-hazards-list > div {
    flex-direction: row;
    gap: var(--gap-300);
  }
  .mountain-hazards-list h4 {
    display: none;
  }
}
