.weather-page section {
  padding-block: var(--gap-400);
}

.weather-day {
  padding: var(--gap-400);
}
.weather-future .weather-day {
  gap: var(--gap-300);
}


.weather-page h4 {
  font-weight: var(--fw-bold);
}
.weather-page ul {
  list-style: square inside;
  margin-inline-start: 0.5rem;
}
.weather-page .suntime {
  font-size: var(--fs-300);
  color: var(--clr-black-300)
}
.weather-page .meteorologist {
  width: 95%;
  margin-inline: auto;
  padding: 0.25rem 0.375rem;

  background: var(--clr-primary-200);
  border-inline-start: 0.25rem solid var(--clr-primary-400);
}


.weather-page .forecast {
  width: 100%;
  overflow-x: auto;
}
.forecast-table th,
.forecast-table td {
  padding-inline: 0.125rem 1rem;

  text-align: center;
  vertical-align: bottom;
}
.forecast-table .primary-row th,
.forecast-table .primary-row td {
  padding-top: 0.75rem;
  min-width: fit-content;
}
.forecast-table .secondary-row {
  font-size: var(--fs-300);
  color: var(--clr-black-300);
}
.forecast-table img {
  width: calc(2 * var(--fs-600));

  filter: invert(0.1) sepia(1) saturate(2) hue-rotate(-30deg);
  cursor: pointer;
}
