.button {
  --_button-color: var(--clr-neutral-900);
  --_button-background: var(--clr-neutral-400);

  --_button-duration: 100ms;
  transition: color var(--_button-duration) ease,
              background-color var(--_button-duration) ease;

  display: flex;
  gap: 0.25em;
  align-items: center;

  padding: 0.5em 1em;
  border-radius: 0.25em;
  /* border-top-right-radius: 0; */
  cursor: pointer;

  width: fit-content;
  height: fit-content;

  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  color: var(--_button-color);
  background: var(--_button-background);
}
.button:hover {
  --_button-background: var(--clr-neutral-450);
}
.button:focus-visible {
  outline: 3px solid var(--clr-neutral-400);
  outline-offset: 2px;
  transition: none;
}

.button:not(.primary):not(.secondary) {
  outline-color: var(--clr-primary-500);
}

.button.underlined {
  background: none;
  padding: 0;

  color: currentColor;
  text-decoration: underline;

  border-radius: 0;
  outline-color: currentColor;
  outline-offset: 3px;
}

.button.primary {
  --_button-color: var(--clr-neutral-900);
  --_button-background: var(--clr-primary-400);
}
.button.primary:hover {
  --_button-background: var(--clr-primary-300);
}

.button.secondary {
  --_button-color: var(--clr-neutral-400);
  --_button-background: var(--clr-neutral-700);
}
.button.secondary:hover {
  --_button-background: var(--clr-neutral-600);
}

button.small {
  padding: 0.375em 0.75em;
}

button.bottom-left {
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
}

.button.empty {
  background: none;
  border: 2px solid var(--_button-background);
}
.button.empty:hover {
  color: var(--_button-color);
  background: var(--_button-background);
}

.button.round {
  border-radius: 9999px;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
