.hill-page {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  height: fit-content;
  width: 100%;

  margin-top: 1rem;
}
.hill-page--main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.hill-page--book {
  height: min(75vh, 35rem);
  min-width: 4.5rem;
  max-width: 4.5rem;
  background-color: var(--copy-white);

  display: flex;
  flex-direction: column;

  border: 1px solid var(--border);
}
.hill-page--book-bind {
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;

  color: var(--copy-white);

  font-weight: 500;
  font-family: "Dekko", cursive;
  line-height: 0.8lh;
}
.hill-page--book-text {
  flex: 1;
  writing-mode: vertical-rl;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--copy-black);
  line-height: 1lh;

  font-weight: normal;
  font-family: "Dekko", cursive;
}

@media (max-width: 720px) {
  .hill-page--book {
    min-width: 3.3rem;
    max-width: 3.3rem;
  }
}

.book-background-1 {
  background-color: var(--wain-book-1);
}
.book-background-2 {
  background-color: var(--wain-book-2);
}
.book-background-3 {
  background-color: var(--wain-book-3);
}
.book-background-4 {
  background-color: var(--wain-book-4);
}
.book-background-5 {
  background-color: var(--wain-book-5);
}
.book-background-6 {
  background-color: var(--wain-book-6);
}
.book-background-7 {
  background-color: var(--wain-book-7);
}
.book-text-1 {
  color: var(--wain-book-1);
}
.book-text-2 {
  color: var(--wain-book-2);
}
.book-text-3 {
  color: var(--wain-book-3);
}
.book-text-4 {
  color: var(--wain-book-4);
}
.book-text-5 {
  color: var(--wain-book-5);
}
.book-text-6 {
  color: var(--wain-book-6);
}
.book-text-7 {
  color: var(--wain-book-7);
}


.hill-page--header {
  display: flex;
  gap: 0.5rem;

  padding: 1rem 0;
}

.hill-page--marker {
  display: inline-block;
  width: 6rem;
  
  stroke-width: 1;  
  stroke: var(--copy);
}
