.flat-map {
  position: relative;
  isolation: isolate;

  width: 518px;
  height: 614px;
}

.flat-map img {
  position: absolute;
  inset: 0;

  user-select: none;
  pointer-events: none;
}

#layer-water {
  scale: 1.02;
}
#layer-0 {
  scale: 1.012;
}
#layer-1 {
  scale: 1.017;
}
#layer-2 {
  scale: 1.022;
}
#layer-3 {
  scale: 1.027;
}
#layer-4 {
  scale: 1.035;
}
