.flat-map {
  position: relative;
  isolation: isolate;

  width: 518px;
  height: 614px;
}

.flat-map img {
  position: absolute;
  inset: 0;

  width: 100%;

  user-select: none;
  pointer-events: none;

  transform-origin: 66% 66%;

  transition: transform-origin 10ms ease;
}

#layer-water {
  scale: 1.02;
  transform-origin: 40% 40%;
}
#layer-0 {
  scale: 1.014;
}
#layer-1 {
  scale: 1.02;
}
#layer-2 {
  scale: 1.028;
}
#layer-3 {
  scale: 1.035;
}
#layer-4 {
  scale: 1.043;
}
