footer {
  padding-block: var(--gap-400);

  color: var(--clr-white-400);
  background: var(--clr-black-400);

  margin-top: auto;
}

.footer-container {
  width: min(100%, 1000px);
  padding-block-end: var(--gap-400);
}

.footer-links {
  gap: var(--gap-700);
  padding-block-start: var(--gap-400);
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-list {
  list-style: none;
  gap: var(--gap-300);
}

footer .secondary-text {
  color: var(--clr-black-100);
}
