.navbar,
.navbar-mobile {
  font-size: calc((var(--fs-400) + var(--fs-600)) / 2);
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-1000);
  background: var(--clr-neutral-200);
}

.navbar {
  --content-max-width: 1350px;

  position: sticky;
  top: -100%;
  z-index: calc(infinity);

  transition-property: top, translate, background-color;
  transition-duration: 200ms;

  padding-block: calc(0.75 * var(--gap-400)) var(--gap-300);
  padding-inline: var(--gap-500);
}
.navbar.sticky {
  top: 0;
}

.navbar.float {
  position: fixed;
  top: 0;
  translate: 0 -100%;
}
.navbar.float.sticky {
  translate: 0;
}
.navbar.float.invisible {
  background: none;
}

.navbar ul {
  list-style: none;
}

.navbar .heading {
  padding-bottom: var(--gap-200);
}

.navbar-left {
  gap: 2rem;
}
.navbar nav a {
  transition: opacity 150ms ease;
}
.navbar nav:has(a:hover) a:not(:hover) {
  opacity: 0.5;
}

.navbar-right {
  gap: var(--gap-500);
}

.nav-button {
  width: 30px;
  height: 30px;
  transition: rotate 200ms;
}
.navbar-right .nav-button:hover {
  rotate: 90deg;
}

.navbar-mobile-only,
.navbar-mobile {
  display: none;
}

.navbar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: calc(infinity);

  padding-block: var(--gap-700);
  padding-inline: var(--gap-600) var(--gap-800);

  min-width: min(55%, 500px);
  height: 100vh;

  transform: translateX(-100%);
  transition-property: display transform;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  transition-behavior: allow-discrete;
}
.navbar-mobile nav {
  margin-block: var(--gap-600);
}
.navbar-mobile ul {
  gap: var(--gap-500);
  list-style: none;
}


@media (max-width: 34.5rem) {
  .navbar {
    padding-block: 1.25rem;
    padding-inline: 0.25rem;
  }
  .navbar-nav {
    display: none;
  }
  .navbar-mobile-only,
  .navbar-mobile.active {
    display: block;
  }
  .navbar-mobile.active {
    transform: translateX(0);
    transition-duration: 250ms;
  
    @starting-style {
      transform: translateX(-100%);
    }
  }

  .navbar-left {
    gap: var(--gap-400);
  }
}
