.navbar {
  --fs-400: 1.1875rem;
  --cl-text: #f1efee;
  --cl-text-hover: #bbb6b1;
  --cl-background: #2a2622;
  --cl-background-light: #342f2b;

  --navbar-margin: 1rem;
  --border-radius: 0.5rem;

  width: min(1350px, 100% - (var(--navbar-margin)*2));

  position: sticky;
  top: var(--navbar-margin);
  z-index: calc(infinity);

  margin: var(--navbar-margin);
  margin-inline: auto;
  padding: 0.6rem 1rem;

  color: var(--cl-text);
  background: var(--cl-background);

  border-radius: var(--border-radius);

  font-size: var(--fs-400);
  font-weight: var(--fw-600);
  font-family: var(--ff-heading);
}

.navbar-mountains {
  position: absolute;
  bottom: 97%;
  left: 0;
  width: 10rem;
  height: 1rem;
  fill: var(--cl-background);
  transform: scaleX(-1);
}

.navbar a:hover {
  color: inherit;
}

.navbar-left {
  gap: 2rem;
}
.navbar-navtitle {
  position: relative;
  font-size: 1.75rem;
  font-weight: var(--fw-800);
  transform: translateY(-0.1rem);
  cursor: pointer;
}

.navbar-navlink:hover {
  font-size: var(--fs-600);
  font-family: var(--ff-cursive);
  line-height: var(--fs-400);
}
.navbar-nav:has(.navbar-navlink:hover) .navbar-navlink:not(:hover) {
  color: var(--cl-text-hover);
}

.nav-button {
  height: 30px;
  aspect-ratio: 1;
  transition: rotate 200ms;
}
.nav-button-rotate:hover {
  rotate: 0.25turn;
}


.navbar-mobile-only {
  display: none;
}

@media (max-width: 650px) {
  .navbar-mobile-only {
    display: inline-block;
  }

  .navbar-left {
    gap: 1rem;
  }
  .navbar-nav {
    flex-direction: column;
    width: 60%;
    height: 0;
    overflow: hidden;

    position: absolute;
    top: calc(100% - var(--border-radius)*2);
    left: calc(var(--border-radius));

    padding: 0;
    padding-top: 0;

    background: var(--cl-background);
    border-radius: var(--border-radius);

    transition: height 100ms ease-in-out, padding 0ms 100ms;
  }
  .navbar-nav[data-status="open"] {
    height: 14rem;
    padding: 1rem;
    padding-top: calc(1rem + var(--border-radius));

    transition: height 100ms ease-in-out, padding 0ms;
  }
}
