.navbar {
  --_navbar-margin: 1rem;

  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: var(--_navbar-margin);
  z-index: calc(infinity);

  width: min(1350px, 100% - (var(--_navbar-margin)*2));
  margin: var(--_navbar-margin);
  margin-inline: auto;
  padding: 0.6rem 1rem;

  border-radius: 0.5rem;

  color: var(--clr-white-400);
  background: var(--clr-black-400);

  isolation: isolate;
}

.navbar-mountains {
  position: absolute;
  bottom: 97%;
  left: 0;
  
  width: 10rem;
  height: 1rem;
  transform: scaleX(-1);

  fill: var(--clr-black-400);
}

.navbar-left {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar-navtitle {
  position: relative;
  transform: translateY(-0.1rem);

  font-family: var(--ff-heading);
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);

  cursor: pointer;
}

.navbar-navlink {
  transition: color 150ms ease;
}
.navbar-nav {
  display: flex;
  gap: 1rem;
}
.navbar-nav:has(.navbar-navlink:hover) .navbar-navlink:not(:hover) {
  color: var(--clr-black-100);
}

.navbar-right {
  display: flex;
  justify-content: center;
}

.nav-button {
  height: 30px;
  aspect-ratio: 1;
}

.nav-button-rotate {
  transition: rotate 200ms;
}
.nav-button-rotate:hover {
  rotate: 0.25turn;
}


.navbar-mobile-only {
  display: none;
}

@media (max-width: 650px) {
  .navbar-mobile-only {
    display: inline-block;
  }

  .navbar-left {
    gap: 1rem;
  }
  .navbar-nav {
    flex-direction: column;

    position: absolute;
    top: calc(100% - 0.5rem*2);
    left: calc(0.5rem);

    width: 60%;
    height: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0.5rem;

    font-size: var(--fs-600);

    background: var(--clr-black-400);

    z-index: -1;

    transition: height 100ms ease-in-out, padding 0ms 100ms;
  }
  .navbar-nav[data-status="open"] {
    height: 12rem;
    padding: 1rem;
    padding-top: calc(1rem + 0.5rem);

    transition: height 100ms ease-in-out, padding 0ms;
  }
}
