.walk-card {
  --_image-height: 45%;

  display: flex;
  flex-direction: column;

  flex: 1;
  min-width: 18rem;
  max-width: 20em;
  height: 23rem;
  border-radius: 0.5em;

  position: relative;
  overflow: hidden;

  background: var(--clr-white-600);
}

.walk-card_image {
  position: relative;
  background: #0001;

  width: 100%;
  height: var(--_image-height);

  overflow: hidden;
}
.walk-card_image img {
  transition: scale 250ms, opacity 200ms ease-in-out;
}

.walk-card_dist {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  width: fit-content;
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);

  background: var(--clr-white-400);
  filter: drop-shadow(3px 3px 3px #0006);

  padding: 0.25em;
  border-radius: 0.25em;

  line-height: 1.1;
}


.walk-card_main {
  height: calc(100% - var(--_image-height));
  width: 100%;
  padding: 0.5em;
}

.walk-card_title {
  /* height: 2lh; */
  padding: 0;
}
.walk-card_intro {
  flex: 1;
  --_paragraph-height: 4;

  display: -webkit-box;
  max-height: calc(var(--_paragraph-height) * 1lh);
  -webkit-line-clamp: var(--_paragraph-height);
  -webkit-box-orient: vertical;
  overflow: hidden;

  margin-block: 0.25em 0.5em;
}


.walk-card_stats {
  margin-top: auto;
  padding: 0.25em;

  font-weight: var(--fw-bold);
}
.walk-card_stats > div {
  display: flex;
  gap: 0.25em;
  align-items: center;
  line-height: 1;
}
.walk-card_stats svg {
  max-height: 1lh;
}


a.walk-card:hover {
  img {
    scale: 1.05;
  }

  .walk-card_title {
    text-decoration: underline;
  }
}
