.walks-card {
  --_card-min-width: 16rem;
  --_card-max-width: 25rem;

  display: flex;
  flex-direction: column;

  min-width: var(--_card-min-width);
  width: clamp(var(--_card-min-width), 100%, var(--_card-max-width));
  height: 21rem;

  background: var(--clr-neutral-700);
  border-radius: 0.5rem;
  overflow: hidden;
}

.walks-card__image {
  position: relative;
  min-height: 48%;
  max-height: 48%;
  overflow: hidden;
}
.walks-card__dist {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;

  background: var(--clr-neutral-900);
  border-radius: 0.25rem;
  padding-inline: 0.5rem;
  padding-block: 0.25rem 0.125rem;

  font-size: var(--fs-200);
  font-weight: var(--fw-medium);

  cursor: default;
}

.walks-card__text {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.25rem;

  background: var(--clr-neutral-1000);

  padding-block: 0.5rem 1rem;
  padding-inline: 1rem;
}
.walks-card__text .subheading {
  overflow: hidden;
  text-overflow: ellipsis;
}
.walks-card__icons {
  font-weight: var(--fw-medium);
}
.walks-card__text .button {
  margin-block-start: auto;
  margin-inline-start: auto;
}


.walks-card__group {
  display: grid;
  grid-template-columns: repeat(3, minmax(min(22rem, 90%), 1fr));
  gap: 1rem;
  justify-items: center;
  align-content: center;

  max-width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.walks-card__group > .walks-card {
  scroll-snap-align: center;
}
