.walk-search {
  position: relative;
  z-index: 1;
}

.walk-search input {
  color: var(--clr-black-400);
  background: var(--clr-white-400);

  border: none;
  border-radius: 999rem;
  width: 100%;
  
  padding-inline: var(--gap-500);
  padding-block: var(--gap-400);

  box-shadow: 1px 2px 5px 0 hsl(from var(--clr-black-400) h s l / .2);
}
.walk-search[data-small="true"] input {
  padding-inline: var(--gap-400);
  padding-block: calc(var(--gap-400) / 2);
}

.walk-search__results {
  position: absolute;
  top: 50%;
  z-index: -1;
  overflow-y: auto;

  display: grid;

  padding-block: calc(var(--gap-600) * 1.25) var(--gap-400);

  color: var(--clr-black-400);
  background: var(--clr-white-400);
  width: 100%;
  max-height: min(23rem, 80vh);

  border-radius: 0.5rem;
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}
.walk-search__results[data-reversed="true"] {
  padding-block: var(--gap-300) calc(var(--gap-600) * 1.25);
  top: revert;
  bottom: 50%;

  border-radius: 0.5rem;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.walk-search__result {
  display: flex;
  gap: 1.25rem;
  align-items: center;

  min-height: 4rem;
  padding-inline: var(--gap-500);
  padding-block: 0.625rem;
}
.walk-search[data-small="true"] .walk-search__result {
  padding-inline: var(--gap-400);
}
.walk-search__result:hover {
  background: var(--clr-white-500);
}

.walk-search__result-type {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 3rem;
  max-width: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  border-radius: 0.25rem;

  background: hsl(from var(--clr-white-500) h s l / .5);
}
.walk-search__result:hover .walk-search__result-type {
  background: hsl(from var(--clr-white-600) h s l / .5);
}
.walk-search__result-type svg {
  width: 28px;
  height: 28px;
}

.walk-search__result .subheading {
  font-size: var(--fs-500);
  line-height: 1;
}
.walk-search__result-details {
  display: flex;
  gap: calc(var(--gap-300) * 0.9);
  row-gap: 0;
  flex-wrap: wrap;

  font-size: var(--fs-300);
  color: var(--clr-black-300);
}

.walk-search__no-results {
  display: flex;
  justify-content: center;
  text-align: center;

  margin-block-start: calc(var(--gap-400) / 2);
  padding-inline: var(--gap-400);
}


.walk-search__results[data-show="false"] {
  display: none;
}
