
.container {
  width: 100%;
  height: 100%;

  /* border: 0.1rem solid var(--clr-neutral-700); */
  border-radius: 0.5rem;
  overflow: hidden;
}


.route {
  /* stroke: var(--clr-primary-300); */
  stroke: var(--clr-neutral-400);
  stroke-width: 5;
  /* --_drop-colour: var(--clr-neutral-800);
  filter: drop-shadow(1px 0 0 var(--_drop-colour))
          drop-shadow(0 1px 0 var(--_drop-colour))
          drop-shadow(-1px 0 0 var(--_drop-colour))
          drop-shadow(0 -1px 0 var(--_drop-colour)); */
  cursor: default;

  stroke-linecap: round;
  stroke-linejoin: round;
}
.hoveredPoint {
  /* fill: var(--clr-primary-300); */
  /* stroke: white; */
  /* stroke-width: 1; */
  /* filter: drop-shadow(0 0 0.125rem #0007); */
  fill: var(--clr-neutral-800);
  stroke: var(--clr-primary-0);
  stroke-width: 3;
}

.marker {
  position: relative;
  width: 32px;
  fill: var(--clr-primary-400);
  stroke: black;
  stroke-width: 1;
}
.hillMarker {
  scale: 0.85;
}


.cluster {
  transition-property: transform, fill;
  transition-duration: 50ms;
}
.marker:hover .cluster,
.focussedCluster {
  transform: scale(1.2) translateY(-4px);
}
.clusterTooltip {
  display: none;

  position: absolute;
  bottom: 100%;
  left: 50%;
  translate: -50% calc(-2.5 * var(--gap-200));

  font-weight: var(--fw-medium);

  width: max-content;
  text-align: center;

  background: var(--clr-neutral-900);
  padding: var(--gap-300) var(--gap-400);
  border-radius: var(--gap-300);

  box-shadow: 3px 3px #1113;
}
.clusterTooltipTip {
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
}
.clusterTooltip::after {
  content: "";
  --_width: var(--gap-300);
  width: var(--_width);
  height: var(--_width);
  rotate: 45deg;

  position: absolute;
  top: calc(100% - var(--_width) / 2);
  left: 50%;
  translate: -50% 0;
  background: inherit;

  box-shadow: inherit;
}


.marker:hover .clusterTooltip,
.marker:has(.focussed-cluster) .clusterTooltip {
  display: block;
}

.cluster svg {
  position: absolute;
}
.cluster svg:nth-child(1) {
  z-index: 10;
}
.cluster svg:nth-child(2) {
  opacity: 0.89;
  z-index: 9;
  transform: translate(4px, -1px) scale(0.98);
}
.cluster svg:nth-child(3) {
  opacity: 0.84;
  z-index: 8;
  transform: translate(7px, -2px) scale(0.95);
}
.cluster svg:nth-child(4) {
  opacity: 0.8;
  z-index: 7;
  transform: translate(9px, -2px) scale(0.9);
}


.hillMarker[data-book="1"] {
  fill: var(--clr-wain-book-1);
}
.hillMarker[data-book="2"] {
  fill: var(--clr-wain-book-2);
}
.hillMarker[data-book="3"] {
  fill: var(--clr-wain-book-3);
}
.hillMarker[data-book="4"] {
  fill: var(--clr-wain-book-4);
}
.hillMarker[data-book="5"] {
  fill: var(--clr-wain-book-5);
}
.hillMarker[data-book="6"] {
  fill: var(--clr-wain-book-6);
}
.hillMarker[data-book="7"] {
  fill: var(--clr-wain-book-7);
}

.walkMarker {
  fill: lightblue;
}

.attribution {
  cursor: default;
}
.attribution a {
  color: var(--clr-neutral-200);
  font-weight: var(--fw-bold);
}
.attribution a:hover {
  text-decoration: underline;
}
