html {
  scroll-padding-top: 10rem;
}

.walk-page {
  --_main-width: calc(68ch + 5.5rem);
  --_aside-width: clamp(14rem, 25vw, 22rem);
  --_body-gap: clamp(1rem, 2vw, 2rem);
  --_image-overflow: 3rem;
  
  --_max-section-width: calc((2 * var(--_image-overflow)) + var(--_main-width) + var(--_aside-width) + var(--_body-gap));

  background: var(--clr-neutral-900);
  margin-block-start: 0;
}
.walk-page section {
  max-width: var(--_max-section-width);
  margin-inline: auto;
}


.walk-page_overlay {
  width: 100%;
  position: fixed;
  padding-block: 0;

  isolation: isolate;
  z-index: 999999;

  background: var(--clr-neutral-900);

  box-shadow: 0 2px 5px #0002;

  display: none;
  top: -5rem;
  transition-property: display opacity;
  transition-duration: 300ms;
  transition-behavior: allow-discrete;
}
.walk-page_overlay.show {
  display: block;
  top: 5.125rem;

  @starting-style {
    top: -5rem;
  }
}
.walk-page_overlay section {
  padding: 0;
}

.walk-page_overlay-left {
  text-align: left;
  overflow: hidden;
  padding-block: 0.5em 0.75em;
}

.walk-page_overlay-left {
  gap: 0.5em;
  width: 100%;
}
.walk-page_overlay-left a {
  line-height: 0;
}
.walk-page_overlay-title {
  overflow: hidden;
}
.walk-page_overlay-title button {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.walk-page_overlay-details {
  display: none;
}
.walk-page_overlay-details span {
  display: flex;
  gap: 0.25em;
  align-items: end;
}
.walk-page_overlay-details svg {
  max-width: 1.25em;
}


.walk-page_overlay-nav {
  height: 100%;
  font-weight: var(--fw-medium);
}
.walk-page_overlay-nav button {
  color: var(--clr-neutral-600);
  border-top: 2px solid transparent;
  padding-block: 1em;

  transition-property: border-color, color;
  transition-duration: 300ms;
}
.walk-page_overlay-nav button:hover {
  color: var(--clr-neutral-500);
  border-color: var(--clr-neutral-600);
}
.walk-page_overlay-nav button.active {
  color: var(--clr-neutral-400);
  border-color: var(--clr-neutral-400);
}
@media (max-width: 52rem) {
  .walk-page_overlay-left {
    padding-inline-end: 1em;
  }
  .walk-page_overlay-left a {
    padding-bottom: 1.5em;
  }
  .walk-page_overlay-details {
    display: flex;
  }

  .walk-page_overlay-nav {
    display: none;
  }
}


.walk-page_top {
  position: relative;
  background: var(--clr-neutral-500);
  overflow: hidden;
  margin-block-end: 0.5rem;

  @media (max-width: 83rem) {
    grid-column: full-width;
  }
}
.walk-page_top-link {
  display: flex;
  gap: 0.125em;
  align-items: end;

  position: absolute;
  top: 5%;
  right: 1em;

  background: var(--clr-neutral-900);
  border-radius: 0.5em;
  font-weight: var(--fw-medium);

  padding: 0.25rem 0.375rem;
  padding-inline-end: 0.625rem;
}
.walk-page_top-link:hover {
  text-decoration: underline;
}
.walk-page_top-image {
  flex: 1;
  width: 100%;
  height: min(24rem, 30vw);
  object-fit: cover;

  @media (max-width: 68rem) {
    height: max(35vw, 13rem);
  }
}
.walk-page_top-block {
  height: min(2em, 5vw);
  background: var(--clr-neutral-200);
}


.walk-page_body {
  display: flex;
  gap: var(--_body-gap);
  justify-content: space-between;
  margin-inline: auto;

  padding-block: 1rem;
  padding-inline: 1rem;
  width: 100%;

  @media (max-width: 83rem) {
    padding-inline: 0;
  }
}

.walk-page_main {
  gap: var(--gap-500);

  max-width: var(--_main-width);
}
.walk-page_main > div {
  width: 100%;
}

.walk-page_summary .title {
  margin-block-end: 0.5rem;
}

.walk-page_summary_horizontal-group h3,
.walk-page_summary_horizontal-group p {
  display: inline;
}

.walk-page_wainwrights span {
  display: inline-block;
}
.walk-page_wainwrights a:hover {
  text-decoration: underline;
}

.walks-page_section {
  gap: var(--gap-300);
}


.walk-page_route-title,
.walk-page_map,
.walk-page_elevation {
  width: 98%;
  border-radius: 0.25rem;
}
.walk-page_route-title {
  margin-block-end: 0.25em;
}
.walk-page_map {
  aspect-ratio: 7 / 5;
}
.walk-page_elevation {
  height: 13rem;

  background: var(--clr-neutral-900);
  padding-inline: var(--gap-300);
  padding-block: var(--gap-200);
}


.walks-page_photos img {
  transition: scale 100ms, border-radius 100ms;
  cursor: pointer;

  border-radius: var(--gap-200);
}
.walks-page_photos img:hover {
  scale: 1.05;
  border-radius: 0;
}


.walk-page_aside {
  max-width: var(--_aside-width);
  /* margin-inline-start: auto; */

  @media (max-width: 52rem) {
    max-width: 100%;
  }
}

.walk-page_aside-tabs {
  display: none;
}
.walk-page_aside-tab {
  flex: 1;
  min-width: fit-content;
  text-align: center;

  border: 1px solid var(--clr-neutral-400);
  border-right: none;

  padding-block: 0.25em;
  padding-inline: 0.25em;
}
.walk-page_aside-tab.selected {
  font-weight: var(--fw-medium);
  /* background: var(--clr-neutral-700); */
  border-block-end: none;
}
.walk-page_aside-tab:last-child {
  border-right: 1px solid var(--clr-neutral-400);
}

.walk-page_aside > div {
  width: 100%;
}

.walk-page_aside-image {
  width: 100%;
  aspect-ratio: 1.5;
  border-radius: var(--gap-300);
  overflow: hidden;
}

.walk-page_aside-section {
  width: 100%;
}

.walk-page_locations {
  gap: var(--gap-200);
}
.walk-page_locations > div {
  row-gap: 0;
  align-items: start;
}
.walk-page_locations h3 {
  font-size: inherit;
  font-weight: inherit;
}
.walk-page_locations a:hover {
  text-decoration: underline;
}


.walk-page_busses {
  list-style: none;
  gap: 0.25em;
  font-weight: var(--fw-medium);
  max-width: 70%;
  justify-content: right;
}

.walk-page_bus-number {
  color: var(--clr-neutral-1000);
  border-radius: 0.25em;
  padding-inline: 0.25em;
  padding-block-start: 0.125em;

  cursor: default;
}


.walk-page_estimated-time input {
  width: min(13em, 100%);
  margin-block-start: var(--gap-300);
  cursor: pointer;
}


.walk-page_terrain {
  --clr-terrain-icon-color: var(--clr-neutral-400);
  --clr-terrain-icon-highlight: var(--clr-neutral-600);

  --clr-terrain-level-1: #57B493;
  --clr-terrain-level-2: #C39E4C;
  --clr-terrain-level-3: #B65353;
  --clr-terrain-level-4: #7b3551;
}
.walk-page_terrain-badges {
  list-style: none;
  gap: 0.5em;
}
.walk-page_terrain svg {
  cursor: pointer;
  transition: scale 100ms;
}
.walk-page_terrain svg:hover {
  scale: 1.125;
}


@media (max-width: 52rem) {
  .walk-page_body {
    padding-block: 0.5rem;
    flex-direction: column;
  }

  .walk-page_aside-tabs {
    display: flex;
  }

  .walk-page_aside {
    margin-block-end: 1em;
    gap: 0;
  }

  .walk-page_aside-image {
    display: none;
  }

  .walk-page_aside-section {
    display: none;
  }
  .walk-page_aside-section.selected {
    display: block;
  }

  .walk-page_aside-content.visible {
    border: 1px solid var(--clr-neutral-400);
    border-top: none;

    margin-inline: auto;

    border-end-end-radius: var(--_aside-border-radius);
    border-end-start-radius: var(--_aside-border-radius);

    padding: 0.5em 1em;
    padding-block-end: 1em;
  }
}



.walk-page_weather-tabs {
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap-400);
  
  overflow-x: auto;
  padding-inline: var(--gap-200);
  
  margin-block: var(--gap-400);
}
.walk-page_weather-tab {
  padding-block: var(--gap-300);
  padding-inline: var(--gap-400);
  
  color: var(--clr-neutral-600);
  border: 2px solid transparent;
  border-radius: 0.375em;
  
  transition: border-color 100ms;
}
.walk-page_weather-tab .weather-day {
  font-size: var(--fs-600);
}
.walk-page_weather-tab:hover {
  border-color: var(--clr-neutral-600);
}
.walk-page_weather-tab.selected {
  color: var(--clr-neutral-400);
  border-color: currentColor;
}

.walks-page_weather-body {
  container-type: inline-size;
  gap: 0;
  background: var(--clr-neutral-800);
  padding: 0.75em;
  border-radius: 0.5em;

  transition: color 200ms, background-color 200ms;
}
.walks-page_weather-body.night-view {
  color: var(--clr-neutral-800);
  background: var(--clr-neutral-400);
}

.walks-page_weather-header {
  width: 100%;
}
.walks-page_day-night {
  font-size: var(--fs-300);
  cursor: default;
}
.walks-page_day-night button.active {
  font-weight: var(--fw-bold);
}

.walks-page_weather-temp {
  min-width: 2.2em;
}
.walks-page_weather-temps {
  font-weight: var(--fw-medium);
}

.walks-page_weather-symbol {
  --_width: calc(var(--fs-800) * 4);
  width: var(--_width);
  height: var(--_width);
  overflow: hidden;
}
.walks-page_weather-symbol svg {
  max-width: 100%;
  max-height: 100%;
  translate: 0 -0.5rem;
}

.walks-page_weather-main {
  gap: 2em;
  row-gap: 0;
  width: 100%;
}

.walks-page_weather-grid {
  min-width: 20rem;
  gap: 0.5em;
  flex: 1;
}
.walks-page_weather-grid_box {
  cursor: default;
}
.walks-page_weather-grid_box:has(.hover-value) {
  cursor: pointer;
}
.walks-page_weather-grid_box h4 {
  font-weight: var(--fw-base);
}
.walks-page_weather-grid_box p {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}
.walks-page_weather-grid_box .hover-value {
  display: none;
}
.walks-page_weather-grid_box:hover .default-value {
  display: none;
}
.walks-page_weather-grid_box:hover .hover-value {
  display: block;
}


.walks-page_weather-info {
  color: var(--clr-neutral-500);
  margin-block-start: 1.5em;
}
.walks-page_weather-body.night-view .walks-page_weather-info {
  color: var(--clr-neutral-700);
}
.walks-page_weather-info a {
  text-decoration: underline;
  cursor: pointer;
  transition: color 100ms;
}
.walks-page_weather-info a:hover {
  color: var(--clr-neutral-400);
}

.walks-page_weather-link {
  margin-block-start: var(--gap-400);
  margin-inline-start: var(--gap-200);
}
.walks-page_weather-link a {
  text-decoration: underline;
}
.walks-page_weather-link a:hover {
  text-decoration: none;
}



section.walk-page_nearby {
  max-width: none;
  margin-block: 1em;
  padding-block: 1em;

  background: var(--clr-neutral-800);
}
.walk-page__nearby-walks {
  max-width: min(70rem, 100%);
}


/*  */


.elevation-chart_tooltip {
  font-size: var(--fs-300);
  background: var(--clr-neutral-900);
  padding: var(--gap-200) var(--gap-300);
  border-radius: var(--gap-200);

  filter: drop-shadow(0 0 2px #0003);
}
