.elevationChart {
  --_clr-chart-stroke: var(--clr-primary-400);
  --_clr-chart-fill: var(--clr-primary-500);
  --_clr-chart-black: var(--clr-text);
  --_clr-chart-black-light: var(--clr-text-muted);
  --_clr-chart-background: var(--clr-bg-light);

  font-size: var(--fs-300);
}

.elevationChart :global(.recharts-cartesian-axis .recharts-label) {
  font-weight: var(--fw-bold);
}
