/* .App {
  width: min(1200px, 92%);
  margin: auto;
  margin-block: 1rem 2rem;
} */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex: 1;
  width: min(1200px, 100%);
  margin-inline: auto;
  padding-block: 1rem 2rem;
  padding-inline: 1rem;
}

.page-title {
  font-family: var(--ff-heading);
  font-size: var(--fs-1000);
  font-weight: var(--fw-bold);
  line-height: 1.125;
}

.pigeon-tiles-box {
  user-select: none;
}
