.App {
  width: min(1200px, 95%);
  margin: auto;
  margin-block: 1rem 2rem;
}


.page-title {
  font-family: var(--ff-heading);
  font-size: var(--fs-1000);
  font-weight: var(--fw-bold);
  line-height: 1.125;
}

.pigeon-tiles-box {
  user-select: none;
}
