.App {
  width: min(1200px, 70%);
  margin: auto;
}

@media (max-width: 768px) {
  .App {
    width: 100%;
  }
}


a {
  text-decoration: none;
  transition: all .1s ease-in-out;
}
a:hover {
  color: var(--primary);
  font-weight: 600;
}
