
#coming-soon {
  display: flex;
  flex-direction: column;
}

#coming-soon header,
#coming-soon footer {
  color: var(--clr-neutral-900);
  background: var(--clr-neutral-200);

  padding-block: 0.5em;
}

#coming-soon section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-200);
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-inline: auto;

  width: 100%;
  min-height: 100vh;
  padding-block-end: 3em;

  
  font-size: 1.5rem;
  max-width: 68ch;
}
#coming-soon section img {
  width: calc(3 * var(--fs-1000));
}

#coming-soon footer {
  margin-block-start: auto;
  display: block;

  padding-block: 5em;
}
