:root {
  /*  fonts  */
  --ff-title: "Urbanist", sans-serif;
  --ff-heading: "DM Serif Display", serif;
  --ff-subheading: "Urbanist", sans-serif;
  --ff-body: "DM Sans", sans-serif;
  --ff-cursive: "Caveat", cursive;
  /* --ff-hand: "Dekko", cursive; */

  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-600: 1.5rem;
  --fs-800: 2rem;
  --fs-1000: 4rem;

  --fw-light: 300;
  --fw-base: 400;
  --fw-bold: 700;


  /*  colours  */
  color-scheme: light;

  --clr-primary-300: #f0a36a;
  --clr-primary-400: #eb873c;
  --clr-primary-500: #dd6c17;
  --clr-primary-800: #241204;

  --clr-black-100: #bcb0a5;
  --clr-black-200: #988b81;
  --clr-black-300: #70655c;
  --clr-black-400: #2a2622;
  --clr-black-500: #1d1a17;

  --clr-white-400: #fcfbfb;
  --clr-white-500: #f1efee;
  --clr-white-600: #e2dfdc;

  --map-gpx: #3d2d0c;

  /* --wain-book-1: #6c9934;
  --wain-book-2: #e5173e;
  --wain-book-3: #0096e2;
  --wain-book-4: #ed592b;
  --wain-book-5: #853826;
  --wain-book-6: #fdb817;
  --wain-book-7: #008242; */
  --wain-book-1: #6c8f40;
  --wain-book-2: #d1304d;
  --wain-book-3: #208bc1;
  --wain-book-4: #d55b36;
  --wain-book-5: #7f4234;
  --wain-book-6: #edb636;
  --wain-book-7: #1b8651;

  --bus-77: #ddad00;
  --bus-77A: #ddad00;
  --bus-77C: #ddad00;
  --bus-78: #ec6608;
  --bus-505: #016067;
  --bus-508: #814997;
  --bus-509: #af5742;
  --bus-516: #a71681;
  --bus-553: #ef99c1;
  --bus-554: #ef99c1;
  --bus-555: #e30613;
  --bus-599: #3fa535;
  --bus-X4: #87704c;
  --bus-X5: #87704c;
}

@media (max-width: 650px) {
  :root {
    --fs-300: 0.8125rem;
    --fs-400: 1rem;
    --fs-600: 1.25rem;
    --fs-800: 1.5rem;
    --fs-1000: 3rem;
  }
}


body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: var(--fw-base);
  font-optical-sizing: auto;

  color: var(--clr-black-400);
  background: var(--clr-white-500);
  accent-color: var(--clr-primary-400);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


input {
  font: inherit;
  color: inherit;
}
button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}


::selection {
  color: var(--clr-primary-800);
  background: var(--clr-primary-400);
}
::-moz-selection {
  color: var(--clr-primary-800);
  background: var(--clr-primary-400);
}
