:root {
  --fs-200: 0.875rem;
  --fs-400: 1rem;
  --fs-600: 1.625rem;
  --fs-800: 2rem;
  --fs-1000: 4rem;

  --fw-400: 400;
  --fw-600: 600;
  --fw-800: 700;

  --ff-heading: "Urbanist", sans-serif;

  --cl-primary: #eb873c;

  --cl-text: #2a2622;
  --cl-text-light: #70655c;
}

@media (max-width: 650px) {
  :root {
    --fs-200: 0.75rem;
    --fs-400: 0.8125rem;
    --fs-600: 1.5rem;
    --fs-800: 1.375rem;
    --fs-1000: 3rem;
  }
}


:root {
  color-scheme: light;

  --primary: #eb873c;
  --primary-content: #241204;
  --primary-dark: #dd6c17;
  --primary-light: #f0a36a;

  --secondary: #3ca0eb;
  --secondary-content: #041624;
  --secondary-dark: #1788dd;
  --secondary-light: #6ab7f0;

  --background: #f1efee;
  --foreground: #fcfbfb;
  --border: #e2dfdc;

  --copy: #2a2622;
  --copy-light: #70655c;
  --copy-lighter: #988b81;
  --copy-white: #fcfbfb;
  --copy-black: #1d1a17;

  --favourited: rgb(244, 200, 6);

  --map-gpx: #3d2d0c;

  --nav-background: #2a2622;
  --nav-foreground: #453f39;
  --nav-copy: #f1efee;
  --nav-copy-light: #bbb6b1;

  --success: #3ceb3c;
  --warning: #ebeb3c;
  --error: #eb3c3c;
  --success-content: #042404;
  --warning-content: #242404;
  --error-content: #ffffff;

  --wain-book-1: #6c9934;
  --wain-book-2: #e5173e;
  --wain-book-3: #0096e2;
  --wain-book-4: #ed592b;
  --wain-book-5: #853826;
  --wain-book-6: #fdb817;
  --wain-book-7: #008242;

  --bus-77: #ddad00;
  --bus-77A: #ddad00;
  --bus-77C: #ddad00;
  --bus-78: #ec6608;
  --bus-505: #016067;
  --bus-508: #814997;
  --bus-509: #af5742;
  --bus-516: #a71681;
  --bus-553: #ef99c1;
  --bus-554: #ef99c1;
  --bus-555: #e30613;
  --bus-599: #3fa535;
  --bus-X4: #87704c;
  --bus-X5: #87704c;
}
.darkmode {
  color-scheme: dark;

  --background: #1c1917;
  --foreground: #2a2622;
  --border: #463f39;
  
  --copy: #fcfbfb;
  --copy-light: #ddd8d5;
  --copy-lighter: #afa49d;

  --favourited: rgb(204, 168, 8);
}

::selection {
  color: var(--primary-content);
  background: var(--primary);
}
::-moz-selection {
  color: var(--primary-content);
  background: var(--primary);
}

body {
  /* font-family: "Urbanist", sans-serif; */
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.125rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-gutter: stable both-edges;

  min-height: calc(100vh - 1rem);;
  background: var(--background);
  color: var(--copy);
  accent-color: var(--primary);

  font-size: var(--fs-400);

  transition: .1s;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

b {
  font-weight: bold;
}
i {
  font-style: italic;
}
