.lake-map--container {
  width: 100%;
  height: 100%;

  /* border: 0.1rem solid var(--clr-white-600); */
  border-radius: 0.5rem;
  overflow: hidden;
}


.lake-map--route {
  stroke: var(--clr-primary-500);
  stroke-width: 5;
  filter: drop-shadow(0.0625rem 0 0 var(--clr-primary-800))
          drop-shadow(0 0.0625rem 0 var(--clr-primary-800))
          drop-shadow(-0.0625rem 0 0 var(--clr-primary-800))
          drop-shadow(0 -0.0625rem 0 var(--clr-primary-800));
  cursor: default;

  stroke-linecap: round;
  stroke-linejoin: round;
}
.lake-map--hovered-point {
  /* fill: var(--clr-primary-500); */
  /* stroke: white; */
  /* stroke-width: 1; */
  /* filter: drop-shadow(0 0 0.125rem #0007); */
  fill: var(--clr-white-500);
  stroke: var(--clr-primary-800);
  stroke-width: 2;
}

.lake-map--marker {
  width: 32px;
  fill: var(--clr-primary-400);
  stroke: black;
  stroke-width: 1;
}


.lake-map--cluster {
  transition: transform 100ms, fill 100ms;
}
.lake-map--cluster:hover {
  transform: scale(1.2) translateY(-5px);
}

.focussed-cluster {
  transform: scale(1.5) translateY(-9px);
  fill: green;
}
.focussed-cluster:hover {
  transform: scale(1.8) translateY(-11px);
}

.lake-map--cluster svg {
  position: absolute;
}
.lake-map--cluster svg:nth-child(1) {
  z-index: 10;
}
.lake-map--cluster svg:nth-child(2) {
  opacity: 0.8;
  z-index: 9;
  transform: translate(3px, -1px) scale(0.95);
}
.lake-map--cluster svg:nth-child(3) {
  opacity: 0.7;
  z-index: 8;
  transform: translate(5px, -1px) scale(0.9);
}
.lake-map--cluster svg:nth-child(4) {
  opacity: 0.4;
  z-index: 7;
  transform: translate(6px, -1px) scale(0.85);
}


.wain-book-1 {
  fill: var(--wain-book-1);
}
.wain-book-2 {
  fill: var(--wain-book-2);
}
.wain-book-3 {
  fill: var(--wain-book-3);
}
.wain-book-4 {
  fill: var(--wain-book-4);
}
.wain-book-5 {
  fill: var(--wain-book-5);
}
.wain-book-6 {
  fill: var(--wain-book-6);
}
.wain-book-7 {
  fill: var(--wain-book-7);
}

.walk-marker {
  fill: lightblue;
}

.lake-map--attribution {
  cursor: default;
}
.lake-map--attribution a {
  color: var(--clr-black-500);
  font-weight: var(--fw-bold);
}
.lake-map--attribution a:hover {
  text-decoration: underline;
}
