.pigeon-zoom-in:focus-visible,
.pigeon-zoom-out:focus-visible {
  outline: 2px solid black !important;
}


.lake-map--container {
  width: 100%;
  height: 100%;

  /* border: 0.1rem solid var(--clr-neutral-700); */
  border-radius: 0.5rem;
  overflow: hidden;
}


.lake-map--route {
  /* stroke: var(--clr-primary-300); */
  stroke: #f7ece4;
  stroke-width: 5;
  filter: drop-shadow(1px 0 0 var(--clr-neutral-400))
          drop-shadow(0 1px 0 var(--clr-neutral-400))
          drop-shadow(-1px 0 0 var(--clr-neutral-400))
          drop-shadow(0 -1px 0 var(--clr-neutral-400));
  cursor: default;

  stroke-linecap: round;
  stroke-linejoin: round;
}
.lake-map--hovered-point {
  /* fill: var(--clr-primary-300); */
  /* stroke: white; */
  /* stroke-width: 1; */
  /* filter: drop-shadow(0 0 0.125rem #0007); */
  fill: var(--clr-neutral-800);
  stroke: var(--clr-primary-0);
  stroke-width: 3;
}

.lake-map--marker {
  position: relative;
  width: 32px;
  fill: var(--clr-primary-400);
  stroke: black;
  stroke-width: 1;
}
.lake-map--hill-marker {
  scale: 0.85;
}


.lake-map--cluster {
  transition-property: transform, fill;
  transition-duration: 50ms;
}
.lake-map--marker:hover .lake-map--cluster,
.focussed-cluster {
  transform: scale(1.2) translateY(-4px);
}
.lake-map--cluster_tooltip {
  display: none;

  position: absolute;
  bottom: 100%;
  left: 50%;
  translate: -50% calc(-2.5 * var(--gap-200));

  font-weight: var(--fw-medium);

  width: max-content;
  text-align: center;

  background: var(--clr-neutral-900);
  padding: var(--gap-300) var(--gap-400);
  border-radius: var(--gap-300);

  box-shadow: 3px 3px #1113;
}
.lake-map--cluster_tooltip-tip {
  font-weight: var(--fw-regular);
  font-size: var(--fs-300);
}
.lake-map--cluster_tooltip::after {
  content: "";
  --_width: var(--gap-300);
  width: var(--_width);
  height: var(--_width);
  rotate: 45deg;

  position: absolute;
  top: calc(100% - var(--_width) / 2);
  left: 50%;
  translate: -50% 0;
  background: inherit;

  box-shadow: inherit;
}


.lake-map--marker:hover .lake-map--cluster_tooltip,
.lake-map--marker:has(.focussed-cluster) .lake-map--cluster_tooltip {
  display: block;
}

.lake-map--cluster svg {
  position: absolute;
}
.lake-map--cluster svg:nth-child(1) {
  z-index: 10;
}
.lake-map--cluster svg:nth-child(2) {
  opacity: 0.89;
  z-index: 9;
  transform: translate(4px, -1px) scale(0.98);
}
.lake-map--cluster svg:nth-child(3) {
  opacity: 0.84;
  z-index: 8;
  transform: translate(7px, -2px) scale(0.95);
}
.lake-map--cluster svg:nth-child(4) {
  opacity: 0.8;
  z-index: 7;
  transform: translate(9px, -2px) scale(0.9);
}


.wain-book-1 {
  fill: var(--clr-wain-book-1);
}
.wain-book-2 {
  fill: var(--clr-wain-book-2);
}
.wain-book-3 {
  fill: var(--clr-wain-book-3);
}
.wain-book-4 {
  fill: var(--clr-wain-book-4);
}
.wain-book-5 {
  fill: var(--clr-wain-book-5);
}
.wain-book-6 {
  fill: var(--clr-wain-book-6);
}
.wain-book-7 {
  fill: var(--clr-wain-book-7);
}

.walk-marker {
  fill: lightblue;
}

.lake-map--attribution {
  cursor: default;
}
.lake-map--attribution a {
  color: var(--clr-neutral-200);
  font-weight: var(--fw-bold);
}
.lake-map--attribution a:hover {
  text-decoration: underline;
}
