.page {
  background-color: var(--clr-bg);
}

.page section {
  margin-block-end: var(--gap-800);
}

.main {
  display: grid;
  gap: var(--gap-800);
}

.terrainGroup {
  display: grid;
  gap: var(--gap-300);

  & p {
    max-width: none;
  }
}

.iconGroup {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-500);

  margin-block-start: var(--gap-400);
}

.iconGroup svg {
  --_svg-size: min(8rem, 100%);
  width: var(--_svg-size);
  height: var(--_svg-size);
}

@media (max-width: 56rem) {
  .iconGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 40rem) {
  .iconGroup {
    grid-template-columns: auto 1fr;
    align-content: center;
  }

  .iconGroup li {
    display: contents;
    /* display: flex;
    gap: var(--gap-500);
    align-items: center; */
  }

  .iconGroup svg {
    --_svg-size: 5rem;
  }
}


.noteContainer {
  display: grid;
  column-gap: var(--gap-800);
  row-gap: var(--gap-700);
  grid-template-columns: 2fr 1.2fr;
  align-items: center;
}

.note {
  display: grid;
  gap: var(--gap-400);
  height: fit-content;

  & a {
    color: var(--clr-primary-300);
    text-decoration: underline;
  }
  & a:hover {
    color: var(--clr-primary-400)
  }
}

.noteImage {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
}

@media (max-width: 50rem) {
  .noteContainer {
    grid-template-columns: 1fr;
  }

  .noteImage {
    grid-row-start: 1;
    max-width: 30rem;
    aspect-ratio: 5 / 3;

    margin-inline: auto;
  }
}
