.not-found-page {
  text-align: center;
  padding-top: 3rem;
}

.not-found-page h1 {
  font-size: var(--fs-1000);
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);
  padding: 1rem 0;
}

.not-found--go-back {
  border: none;
  background: none;
  font-size: var(--fs-600);
  cursor: pointer;
  transition: .1s;
}
.not-found--go-back:hover {
  color: var(--clr-primary-400);
}
